@charset "gbk";
/* Sohu Blog PPP StyleSheet
 * Style Name: Olympic 8
 * Version: 1.1
 * Author: Matt Wang (www.uiland.com)
 * Created: 2008-07-23
 * Update: 2008-07-23
 * Copyright: Sohu.com (www.sohu.com)
 */


/*** Structure ***/
/* Main */
#innerWrapper{width:980px;}
#topPadding{display:none;visibility:hidden;}
#mainWrapper{border:0 none;}
.modCtnInfo-private{overflow:hidden;height:28px;margin:0 6px -5px;padding:0 20px;border-style:solid;border-width:0 1px 1px;line-height:28px;}
.modCtnInfo-noMod{padding:30px 0;}
#modContainer{padding-top:5px;}
#articleContent{padding:10px 15px 10px;}
#articleInnerContent{width:auto;padding:15px;border:0 none;}
#mainInnerContent{margin-left:230px !important;margin-left:260px;}
#footer{padding:0 2px;}
#contact{margin:10px 0 0;}
#copyright{margin:0;}

/* Header */
#header{height:264px;border:0 none;}
#innerHeader{padding:70px 0 0 150px;}
#blogUrl{margin-top:8px;>margin-top:6px;}
#blogDesc{padding-top:15px;}

/* NavBar */
#navBar{overflow:hidden;height:32px;border:0 none;}
#innerNavBar{padding:0 25px;}
#mainNav li{height:20px;margin:2px 3px 0 0;padding:4px 8px;border-style:solid;border-width:1px !important;line-height:20px;}
#mainNav li.active{margin:0 3px 0 0;padding:5px 8px;}
#mainNav li.private{height:21px !important;border-bottom:0 !important;}
#mainNav li a span{padding:0;}
#mainNav #newPageBtn{margin:10px 0 0 10px;}

/* Mod */
.mod{margin:0 5px 10px;border:0 none;}
.mod hr{height:1px;border-style:solid;border-width:1px 0 0;}
.mod .modFrame{border:0 none;}
.mod .t{height:36px;}
.mod .modHeader{padding:0 5px;}
.mod .modCon{overflow:hidden;}
#popWin .mod{border-style:solid;border-width:1px;}

.msg,
.profileMng,
.musicMng,
.mngBtn,
.linksAdd{margin-bottom:6px !important;padding-bottom:6px !important;}
.item-content{overflow:auto;padding:5px 0;}

/*** Background, Color & Font ***/
/* Background */
body{background:#CBE8F8 url(images/body_bg.jpg) 50% 0 repeat-y;}
#wrapper{background:transparent url(images/page_bg.jpg) 50% 0 no-repeat;}
#header{background:transparent;}
#mainWrapper{background:transparent;}
#articleInnerContent{background:#fff;}

#navBar{background:transparent;}
#mainNav li{background:#FEFFFD url(images/tabNormal_bg.gif) 0 0 repeat-x;}
#mainNav li.active{background:#F6FE8F url(images/tabActive_bg.gif) 0 0 repeat-x;}
#mainNav li.private{background:#ffc874 url(images/tabPrivate_bg.jpg) 0 0 repeat-x;}
.modCtnInfo-private{background:#ffc874;}
#mainNav #newPageBtn{background:url(images/ico_addPage.gif) no-repeat center;}

#innerFooter{background:#CBE8F8 url(images/foot_bg.jpg) 50% 0 no-repeat;}

.mod{background:none;}
.mod .modFrame{background:transparent url(images/modHead_bg.jpg) 0 28px no-repeat;}
.mod .t{background:none;}
#popWin{background:none;}
#popWin .t{background:#F6FE8F url(images/tabActive_bg.gif) 0 0 repeat-x;}
#popWin .c{background:#fff;}

/* Link Color */
a,
.item-title h3 a,
.item-label a,
.entries-content .entriesAdd a{color:#1573A6;}

a:hover,
.item-title h3 a:hover,
.item-label a:hover,
.entries-content .entriesAdd a:hover{color:#CB6A29;}

/* Font Color */
body,
table{color:#5B5C5C;}

#blogTitle,
#blogTitle a,
#blogTitle input{color:#383838;}
#blogUrl a{color:#000;}
#blogDesc{color:#191919;}

#optionNav a{color:#fff;}
#mainNav li *{color:#4C7B0A;}
#mainNav li.active *{color:#5D7812;}
#mainNav li.private *,
.modCtnInfo-private{color:#ff2602;}

#popWin .modTitle{color:#5D7812;}

.mod .modTitle,
.mod .modTitle a{color:#505050;}
.item-title h3{color:#1686C3;}
.item-label{color:#7799AB;}
#footer,#footer a{color:#666;}

/* Font Style */
#blogTitle,
#blogTitle a,
#blogTitle input{font:bold 20px/1.2em "Microsoft YaHei","微软雅黑",Verdana, Arial,sans-serif,"宋体";}

#mainNav li *{font-weight:normal !important;}
#mainNav li.active *{font-weight:bold !important;}

.mod .modTitle,
.entries-content .entriesAdd a{font-weight:bold;}
.item-title h3{font-size:14px;}

/* Border Color */
.mod,
.mod hr,
.mod li,
.mod .mheader,
.mod .lt,
.mod .rt,
.mod .modFrame,
.mod .mneck,
.mod .mbody,
.mod .modEditCon,

.modCon hr,
.modCon .act,
.modCon .action,
.modCon .collect .collectIco,
.modCon .messagesMng,
.modCon .miniblog-content h1,
.modCon .miniblog-content .content li,
.modCon .mngBtn,
.modCon .msg,
.modCon .musicMng,
.modCon .nav,
.modCon .newsong_list td,
.modCon .link,
.modCon .linksAdd,

.modCon .ppMng,
.modCon .ppsetText h5,
.modCon .profile,
.modCon .profileMng,
.modCon .recpost,
.modCon .referIco,
.modCon .reply,
.modCon .rplFormBox,
.modCon .unread,

.item hr,
.item .item-title,
.item .item-content,
.item .info-content blockquote,

.panel .panel-title,

#mainWrapper,
.modCtnInfo-private,
#articleInnerContent,
#footer{border-color:#A2CCDB !important;}

#mainNav li{border-color:#E3E3E3 !important;}
#mainNav li.active{border-color:#FBFBFB !important;}


/* Form Color */
#wrapper input{color:#333;}
#wrapper input.text,
#wrapper textarea.text{border-color:#ccc;color:#666;}
#wrapper input.button,
#wrapper input.button-submit{border-color:#ccc;background:#FEDC8C url(images/tabNormal_bg.gif) 0 0 repeat-x;color:#1573A6;}
