/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
*{
	/*
	color: #333;
	*/
}
body{
	background-color: #7D15A5;
		background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
div,table,ul,span,p{color: #3F0059;}
a{
	/*
	color: #333;
	text-decoration: underline;
	*/
}
a:hover{
	/*
	color: red;
	text-decoration: underline;
	*/
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#innerWrapper{
	background-image: url(images/footer2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
}
#header{
background:none;
height:286px;
padding-top: 30px;
}
#innerHeader{
	background:none;
	margin-left: 0px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/****** Header Elements Styles ******/
#blogTitle, #blogTitle a, #blogTitle input{
	color: #000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	
}
#blogUrl a:link{
	color: #fff;
}
#blogDesc{
	margin:0px;
	color: #FFFFFF;
	font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/****** NavBar Elements Styles ******/
#navBar{
	background:none;
	border:none;
	padding-left: 10px;
	padding-right:10px;
	height:39px;
}
#innerNavBar{
	background:none;
	border:none;
}
/**ÐÞ¸ÄmainNav*/
#mainNav li{
	background: #E3C0F9 url(images/navbg.jpg) repeat-x left top;
	border: 1px solid #780489;
	cursor: pointer;
	margin: 6px 2px 0px 0px;
	padding: 3px 8px 3px;
}

#mainNav li.active{
	background: #E9CEF9;
	border-top: 2px solid #D90BDA;
		border-bottom: none;
	margin: 3px 2px 0px 0px;
	padding: 3px 8px 7px;
	cursor: auto;
}
#mainNav li.private{
	background: url(images/navbg2.jpg) repeat-x left top;
	cursor: auto
}
#mainNav li.hover{
	border-color: red;
}
#mainNav li .pageTitle{
	white-space: nowrap;
	font-weight: bold;
	float: left;
	margin-top: 4px;
	cursor: pointer;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
.modCtnInfo-private {
	margin: -5px 18px 0 18px;
	background: #FBF5EF;
	position:relative;
}
#optionNav li{
	white-space:nowrap;
}
/**/

#mainWrapper{
	border:none;
	background:none;
	background-image: url(images/top2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding:0px;
	margin:0px auto;
}
#innerMainWrapper{
	border:none;
	background:none;
	background-color: #E3C0F9;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 48px;
	margin-left: auto;
	padding-bottom: 0px;
}
/****** Mod Elements Styles ******/
.mod{
	border:none;
	background-image: url(images/mod_03.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.mod .modFrame{
	border: none;
		background:none;
	background-image: url(images/modr_04.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .modTable{
	background-image: url(images/mod_07.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod .modCon{
overflow:hidden;
}
.mod tbody{

}
.Feeds-content ul{ margin:0px;padding-left:18px!important;}
.Feeds-content ul{ margin:0px;padding-left:18px!important;}
#tooltip{
	border: 3px solid #eee;
	position: absolute;
	z-index: 2000;
	background: white;
}
#tooltip .mod{
background:none;
}
#tooltip .modFrame{
background:none;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

#tooltip .modFrame, #tooltip .modFrame div{
background:none;
	color: #333;
}
/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 0px;
	background: none;
	border: none;
}
.mod .t{
	background: none;
	border: none;
}
.mod .modHeader{
	padding-top: 16px;
}
.mod .rt{
width: 0px;

}
.mod .mneck{	border-right:solid 1px #A761D3;
border-left:solid 1px #A761D3;}
.mod .ec{}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	border-right:solid 1px #A761D3;
border-left:solid 1px #A761D3;
}
.mod .l{
	/*width: 0px;*/
}
.mod .c{}
.mod .modCon{
}
.mod .r{
	/*width: 0px;*/
}

.mod .mfooter{
	
}
.mod .lb{
width:0px;

}
.mod .b{
height:36px;
background-image: url(images/mod_08.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.mod .rb{
width: 0px;}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	/*color: #333;*/
}
.mod .modEdit a{
	/*
	color: #333;
	text-decoration: underline;
	*/
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #663366;
}
.item-title h3{
	color: #CC0066;
}
.item-title h3, .item-title h3 a{color: #CC0066;}
.item-label{}
.item-label a{
	/*color: #006699;*/
}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content, .item-content a{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #993366;
}
.item-info, .item-info a{
	color: #000000;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/


.item-more{
	font-weight: bold;
   text-align: right;
	color: #6d0d0d;
}

.item-more a{
	font-weight: bold;
	color: #6d0d0d;
}
#footer{
	clear: both;
}
#innerFooter{
	text-align: center;
	padding: 20px 40px;
		border: none;
}
#contact {
	color: #123a32;
}

#contact a{
	color: #123a32;
}

#copyright {
	color: #123a32;
}