/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#navBar {
	height: 73px;
	background-image: url(images/index_02.jpg);
	background-repeat: no-repeat;
	
}