/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
*{
	/*
	color: #333;
	*/
}
body{
	background-color: #ffffff;
	background-image: url(images/bg_14.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
div,table,ul,span,p{	color:#ccc;}
a{
	
	color: #8D0000;
	text-decoration: underline;
	line-height:1.5em;

}
a:hover{

	color: red;
	text-decoration: underline;
	
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
a.texta{
	color:#ccc;
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background-image: url(images/top_01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#innerWrapper{
background: none;
		
}
#header{
background: none;

	height:344px;
	margin:0px;
	padding:0px;
}
#innerHeader{
background: none;
	height:243px;
	margin:0px;
	padding:0px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:100px;
	padding-left:30px;
}
#blogTitle a, #blogTitle input{
	color: #8D0000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:100px;
}
#blogUrl {
	padding-top:100px;
}
#blogUrl a:link{
	color: #8D0000;

}
#blogDesc{
	color: #8D0000;
	font-size: 14px;
	padding: 0px;
	padding-top:8px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 36px;
}
/****** NavBar Elements Styles ******/
#navBar a:link{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
#navBar{
	background:none;
	border:none;
	height:62px;
	margin:0px;
	padding:0px;
	padding-right:14px;
	
}
#innerNavBar{
	background:none;
	border:none;
	height:62px;
	margin:0px;
	padding-top:16px;
	padding-left:38px;

}
#mainNav{
	float: left;
}
#mainNav li{
	background:#333;
	border: 1px solid #444;
	cursor: pointer;
	margin: 14px 2px 0px 0px;
	padding: 3px 8px 3px;
}
#mainNav #newPageBtn{
	margin: 7px 0px 0px 4px;
}
#mainNav li.active{
	background: #fff;
	border-top: 2px solid #c00;
		border-bottom: none;
	margin: 12px 2px 0px 0px;
	padding: 3px 8px 5px;
	cursor: auto;
}
#mainNav li.active span{
 color:#000;
}
#mainNav li.private{
	background: #fff6cc;
}
#mainNav li.private span{
	 color:#000;
}
#mainNav li.hover{
	border-color: red;
}
#mainNav li .pageTitle{

}
#mainNav li .pageTitleHover{
	background-color: #FFD9AC;
}
#optionNav a{
	color:#f00;
}
#optionNav li{
	white-space:nowrap;
}
#mainNav #newPageBtn{
	background: url(images/ico_addPage.gif) no-repeat center;
	float: left;
	margin: 18px 0px 0px 4px;
	padding: 0px 8px;
}
.modCtnInfo-private{
	background: #fff6cc;
	border-bottom: 1px solid #ccc;
	padding: 5px 30px 2px;
	width:90%;
	margin-top:13px;
	color:#000;
}
/* navBar End*/

#mainWrapper{
	border:none;
	background:none;
	padding:0px;
	margin:0px;
	border-left:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
}
#innerMainWrapper{
	border:none;
	margin:0px;
	padding:10px;
	padding-top:0px;

}
#modContainer{

}
/****** Mod Elements Styles ******/
.mod{
	border:none;
	background-image: url(images/mod_08.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.mod .modFrame{
	border: none;
	background-image: url(images/mod_05.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .modTable{
	margin:0px;
	padding:0px;
	background-image: url(images/mod_11.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod tbody{

}
#tooltip{
	border: 3px solid #eee;
	position: absolute;
	z-index: 2000;
	background: white;
}
#tooltip .mod{
background:none;
}
#tooltip .modFrame{
background:none;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

#tooltip .modFrame, #tooltip .modFrame div{
background:none;
	color: #333;
}
.Feeds-content ul{ margin:0px;padding-left:18px!important;}

/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	/*width: 0px;*/
	background: none;
	border: none;
}
.mod .t{
	border: none;
	background:none;
	background-image: url(images/mod_04.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top:0px;
	padding-left:13px;
	padding-right:6px;
	height:28px;
}
.mod .modHeader{
	padding-top: 6px;
}
.mod .rt{
width: 0px;

}
.mod .mneck{		background: none;
	border: none;
			padding-left:25px;
	padding-right:16px;
			background-image: url(images/mod_09.jpg);
	background-repeat: repeat-y;
	background-position: right top;}
.mod .ec{

}
.mod .modEditCon{
	background: none;
	border: none;
	text-align:left;
    padding-left:0px;
    margin-left:0px;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
	/*width: 0px;*/
	background-image: url(images/mod_08.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.mod .c{background-image: url(images/mod_09.jpg);
	background-repeat: repeat-y;
	background-position: right top;
		padding-left:10px;
	padding-right:10px;}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	/*width: 0px;*/
}

.mod .mfooter{
	
}
.mod .lb{
/*width: 0px;*/

}
.mod .b{
height:30px;
	background-image: url(images/mod_12.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.mod .rb{
width: 0px;}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #000;
}
.mod .modEdit a{
	/*
	color: #333;
	text-decoration: underline;
	*/
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}
.item-title h3{
	color: #fff;
}
.item-title h3, .item-title h3 a{color: #fff;}
.item-label{}
.item-label a{
	/*color: #006699;*/
}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
		color:#eee;
}
.item-content a{
	
		color:#eee;
}
.item-info, .item-info a{
	color: #ff0000;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/


.item-more{
	font-weight: bold;
   text-align: right;
	color: #97472C;
}

.item-more a{
	font-weight: bold;
	color: #97472C;
}
#footer{
	clear: both;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#innerFooter{
	text-align: center;
	border: none;
	background-image: url(images/bottom_17.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom:112px;
}
#contact {
	color: #cccccc;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #FFf;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #ccc;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}