/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	width: 993px;
	background-image: url(images/index_12.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#navBar {
	height: 107px;
	background-image: url(images/index_02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#footer {
	clear: both;
	background-image: url(images/index_13.jpg);
	background-repeat: no-repeat;
	height: 208px;
	background-position: left top;
}
.item-title {
	height: 29px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 8px;
	line-height: 29px;
	background-image: url(images/index11_03.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 794px;
	margin-right: 20px;
}