.o_privComment-content{}
			.o_privComment-content ul {margin:0;padding:0;}
			.o_privComment-content li {list-style:none;margin:4px 0 4px 15px;padding:0;font-family:ו;}
			.o_privComment-content li a{font-size:14px;}