/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	width: 808px;
	background-image: url(images/index-7.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 16px;
	margin-top: 4px;
}
.item-bottom {
	
}
#footer {
	background-image: url(images/0037_06.gif);
	background-repeat: no-repeat;
	background-position: 1px top;
	;
}
