/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	background-image: url(images/sohu9-2_02.jpg);
	background-repeat: no-repeat;
}
#wrapper {
	background-image: url(images/sohu9-2_03.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
#footer {
	background-image: url(images/sohu9-2_05.jpg);
	background-repeat: no-repeat;
	height: 173px;
}
#innerFooter{
	padding-top: 78px;
}
.content-top {
	display:none;
}
.content-bottom {
	display:none;
}