/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#wrapper {
	background-image: url(images/index_fu_07.gif);
}
#navBar {
	background-image: url(images/index_fu_02.jpg);
}
#mainWrapper {
	background-image: url(images/index_fu_03.jpg);
	background-repeat: no-repeat;
	background-position: -1px top;
}
#footer {
	background-image: url(images/index_fu_09.jpg);
}