.cr_club3-content .itemsContainer{
	overflow: hidden;
	width: 100%;
}
.cr_club3-content ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.cr_club3-content li{
	white-space: nowrap;
	padding: 0 0 0 15px;
	margin: 0 0 5px 0;
	background: url(http://js1.pp.sohu.com.cn/ppp/blog/styles_ppp/images/arrowList.gif) no-repeat 0 0;
}
.cr_club3-content .info{
	background-color: #FFFFCC;
	padding: 2px 0 0 5px;
	margin-bottom: 5px;
}
.cr_club3-content .error{
	background-color: #FFFF00;
	padding: 2px 0 0 5px;
	margin-bottom: 5px;
}
.cr_club3-content .moreEntries{
	text-align:right;
}
