/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	width: 877px;
	background-color: #FFFFFF;
}
#navBar {
	height: 73px;
	background-image: url(images/21_03.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#footer {
	clear: both;
	background-image: url(images/index_19.gif);
	background-repeat: no-repeat;
	height: 108px;
	background-position: left top;
}