/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/

/****** General Styles ******/
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 130%
}
body {
	background-image: url(images/index_23.jpg);
}
a {
	color: #8DB0FF;
	text-decoration: underline;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
img {
	border: none;
}
.arrow-up {
	height: 11px;
	width: 11px;
	background: url(images/arrow_up.gif) no-repeat center;
	cursor: pointer;
}
.arrow-down {
	height: 11px;
	width: 11px;
	background: url(images/arrow_down.gif) no-repeat center;
	cursor: pointer;
}
.greenfont, .greenfont a {
	color: #97ACB6;
}
.redfont, .redfont a {
	color: #97ACB6;
}
.notice {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	padding: 5px;
}
.noticeInfo {
	
}
.noticeError {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	color: red;
	padding: 2px;
}
table.tmplTable {
	background-color: #cecece;
}
table.tmplTable td {
	background-color: white;
}
/****** Form Controls Styles ******/
form {
	margin: 0px;
	padding: 0px;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #28363F;
	line-height: 130%;
}
textarea {
	padding: 2px;
	background-color: white;
	border: 1px solid #cecece;
}
select {
	background-color: white;
	border: 1px solid #cecece;
}
input.text {
	height: 18px;
	line-height: 16px;
	background-color: white;
	border: 1px solid #cecece;
}
input.text-error {
	height: 18px;
	line-height: 16px;
	padding: 0px 2px 0px;
	background-color: white;
	border: 1px solid #5E696F;
}

input.button {
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #5E696F;
	border: 1px solid #cecece;
	cursor: pointer;
	color: white;
}
input.button2 {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #9BA4A8;
	border: 1px solid #cecece;
	cursor: pointer;
}
input.button-submit {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #9BA4A8;
	border: 1px solid #cecece;
	cursor: pointer;
}
	

/* a style which makes div touch the bottom of content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}
/****** Main Layout Styles ******/
#wrapper {
	margin: 0px auto;
	width: 993px;
	background-image: url(images/index_04.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	overflow: hidden;
}
#innerWrapper {
}
#topPadding {
	display: none;
}
#header {
	height: 159px;
	background-image: url(images/index_01.jpg);
	background-repeat: no-repeat;
}
#innerHeader {
	width: 983px;
	padding-left: 10px;
}
#navBar {
	
	background-image: url(images/index_02.jpg);
	background-repeat: no-repeat;height: 35px;
}
#innerNavBar {
	width: 770px;
	margin-left: 115px;
	padding-top: 5px;
}
#mainNav {
	float: left;
	margin: 0px;
	padding: 0px;
}
#mainNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 2px 0px 2px;
}
#mainNav li a {
	padding: 2px 12px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#mainNav li a {
	color: #ffffff;
}#mainNav li a:hover {
	color: #ff0000;
}
#mainNav .navHome {}
#mainNav .navHome:hover {}
#mainNav .navHome-active {color: #ffffff; cursor: default;}

#mainNav .navBlog {}
#mainNav .navBlog:hover {}
#mainNav .navBlog-active {color: #ffffff; cursor: default;}

#mainNav .navImg {}
#mainNav .navImg:hover {}
#mainNav .navImg-active {color: #ffffff; cursor: default;}

#mainNav .navSound {}
#mainNav .navSound:hover {}
#mainNav .navSound-active {color: #ffffff; cursor: default;}

#mainNav .navVideo {}
#mainNav .navVideo:hover {}
#mainNav .navVideo-active {color: #ffffff; cursor: default;}

#mainNav .navProfile {}
#mainNav .navProfile:hover {}
#mainNav .navProfile-active {color: #ffffff; cursor: default;}

#optionNav {
	float: right;
	padding-right: 10px;
	margin: 0px;
}
#optionNav li {
	float: left;
	margin: 0px;
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 0px;
	list-style-image: none;
	list-style-type: none;
}
#optionNav li a {
	background-position: left top;
	background-repeat: no-repeat;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 30px;
	line-height: 20px;
}
#optionNav li a {
	color: #ffffff;
}
#optionNav .navSysOpt { background-image: url(images/1-1.gif);}
#optionNav .navSysOpt:hover { background-image: url(images/1-1.gif);}
#optionNav .navSysOpt-active { background-image: url(images/1-1.gif); color: #ffffff; cursor: default;}

#optionNav .navModOpt { background-image: url(images/1-1.gif);}
#optionNav .navModOpt:hover { background-image: url(images/1-1.gif);}
#optionNav .navModOpt-active { background-image: url(images/1-1.gif); color: #ffffff; cursor: default;}

#optionNav .navTmplOpt { background-image: url(images/1-1.gif);}
#optionNav .navTmplOpt:hover { background-image: url(images/1-1.gif);}
#optionNav .navTmplOpt-active { background-image: url(images/1-1.gif); color: #ffffff; cursor: default;}

#optionNav .navPreview { background-image: url(images/1-1.gif);}
#optionNav .navPreview:hover { background-image: url(images/1-1.gif);}
#optionNav .navPreview-active { background-image: url(images/1-1.gif); color: #ffffff; cursor: default;}

#mainWrapper {
	width: 993px;
	background-image: url(images/index_03.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	
}
#footer {
	clear: both;
	background-image: url(images/index-di_21.jpg);
	background-repeat: no-repeat;
	height: 164px;
}
#innerFooter{
	color: #f4f4f4;
	padding-top: 70px;
	text-align: center;
}
#innerFooter a{
	color: #f4f4f4;
	text-decoration:none;
}
#innerFooter a:hover{
	color:#F5651F;
	text-decoration:underline;
}
#contact {
	margin: 0px auto;
	margin-bottom: 15px;
	width: 400px;
}
#contact td {
	color: #f4f4f4;
	padding: 0 10px;
}
#contact a {
	color: #f4f4f4;
	text-decoration: underline;
}
#contact a:hover {
	color: #F5651F;
}
#copyright{}
#bottompadding {}

/****** Header Elements Styles ******/



#blogLogo {
	display: none;
}
#blogTitle {
	float: left;
}
#blogTitle, #blogTitle a {
	color: #D3D3D3;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	margin-top: 65px;
	margin-left: 35px;
	padding-right: 10px;
	text-indent: 50px;
}
#blogTitle a:hover {
	color: #ffffff;
}
#blogUrl {
	color: #D3D3D3;
	padding-left: 150px;
	padding-top: 60px;
}
#blogUrl a {
	color: #D3D3D3;
	padding-right: 10px;
}
#blogUrl a:hover {
	color: #ffffff;
}
#blogDesc {
	color: #D3D3D3;
	padding-left: 105px;
	width: 600px;
	word-break: break-all;
	padding-top: 10px;
}

/****** NavBar Elements Styles ******/
#mainNav {
	float: left;
}
#optionNav {
	float: right;
}

/****** Content Layout ******/
/* content */
#content {
	float: right;
	width: 504px;
	
	display: inline;
	margin-right: 137px;
	background-image: url(images/index_16.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
#innerContent {
	width: 504px;
	overflow: hidden;
	background-image: url(images/index_07.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.content-top {	
}
.content-bottom {
	height: 18px;
	background-image: url(images/index_19.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#contentLabelBox {
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 5px;
}
#innerContentLabelBox {
	float: left;
}
.contentLabel {
	color: #F4F4F4;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 24px;
	height: 22px;
	border: 1px solid #7AA4C6;
	padding: 3px 8px 4px;
	margin: 0px 1px;
}
.contentLabel:hover {
	border: 1px solid #7AA4C6;
	text-decoration: none;
	color: #0B2463;
	background-color: #7AA4C6;
}
.contentLabelActive {
	color: #0B2463;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	height: 22px;
	border: 1px solid #7AA4C6;
	padding: 3px 8px 4px;
	margin: 0px 1px;
	background-color: #7AA4C6;
}
.contentLabel-new {
	line-height: 22px;
	float: right;
}
.contentLabel-new a {
	color: #f4f4f4;
	font-weight: bold;
	font-size: 13px;
}
.contentLabel-new a:hover {
	color: #F5651F;
	text-decoration: underline;

}


/* item box */
.item{
	margin-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.item-top {
	/*height: 4px;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-bottom {
	/*height: 4px;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-title {
	height: 22px;
	border: 1px solid #7AA4C6;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 8px;
}
.item hr {
	margin: 5px 0px !important;
	height: 1px;
	border: none;
	border-top: 1px solid #7AA4C6;
}
.item-titleReview {
	color:#7AA4C6;
}
.item-title h3 {
	font-size: 14px;
	float: left;
	margin: 0px;
	color: #7AA4C6;
}

.item-title a{
	text-decoration:none;
	color: #7AA4C6;
}
.item-title h3 a {
	font-size: 13px;
}
.item-label {
	float: right;
}
.item-label a {
	color: #7AA4C6;
	margin-left: 8px;
}
.item-label a:hover {
	color: #f4f4f4;
}
.item-body {}
.item-body-hidden {
	display: none;
}
.item-content{
	margin: 0px;
	padding: 10px 5px;
	overflow: hidden;	/*border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;*/
}
.item-content, .item-content table {
	font-size: 13px;
	line-height: 180%;
}
.item-info {
	color: #7AA4C6;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.item-info a {
	color: #7AA4C6;
}
.item-plus{
	color:#7AA4C6;
	font-weight:bold;
}
.item-tit{
	color:#7AA4C6;
}
.item-table {
	margin: 0px 2px;
	width: 100%;
}
.item-table td{
	border-bottom:#7AA4C6 solid 1px;
	padding: 0px 5px;
}
.item-table thead td{
	font-weight: bold;
	color: #7AA4C6;
}
.item-table tbody td {
}
.item-pageBox {
	margin: 0px 5px;
	padding: 10px 0px;
	color: #7AA4C6;
}
.item-pageBox a {
	color: #7AA4C6;
}
.item-page {
	color:#7AA4C6;
	font-weight:bold;
}
.item-infoBox {
	margin: 10px 20px 5px;
	line-height:20px;
}
.info-content {
	border: none;
	padding: 10px 0px;
	word-break : break-all;
}
.info-title {
	padding-top: 10px;
}
.info-title h3 {
	color: #7AA4C6;
	float: left;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.item-infoBoxTit, .item-infoBoxTit a{
	color:#7AA4C6;
}
.item-infoBoxTit a{
	text-decoration:underline;
}
.item-infoBoxTit a:hover{
	color:#7AA4C6;
	text-decoration:underline;
}

/****** Sidebar Layout ******/
#sidebar {
	float: left;
	width: 206px;
	overflow: hidden;
	background-image: url(images/index_11.jpg);
	background-repeat: repeat-y;
	margin-top: 0px;
	display: inline;
	margin-left: 132px;
	background-position: left top;
}
#innerSidebar {
	overflow: hidden;
	
}
.panel {
	line-height:20px;
	
} 
.panel a {color:#8DB0FF;} 
.panel a:hover {color:#ff0000;}
.panel-top {

}
.panel-bottom {
	background-image: url(images/index_13.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 27px;	
}
.panel-title{
	color:#F4F4F4;background-image: url(images/index_14.jpg);
	background-repeat: no-repeat;
	background-position: left top;
height: 20px;
	background-position: left top;
	padding-top: 8px;
}
.panel-title h3 {
	font-size: 14px;
	float: left;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.panel-title h3 a {
	font-size: 14px;
}
.panel-menu{
	padding-right: 3px;
	padding-left: 3px;
	
}
.panel-label {
	float: right;
	padding-top: 5px;
	padding-right: 13px;
}
.panel-label a {
	margin-left: 8px;
}
.panel-content {
	clear: both;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-top: 5px;
	
}
.panel-content a{
	
}
.panel-content a:hover{
	
}
.panel-content-hidden {
	margin: 1px 3px;
	overflow: hidden;
	height:0px;
	border-bottom: 1px solid #97ACB6;
}

.panel-pic{
	float:left;
	
	margin-bottom:4px;
	margin-top:-4px;
}
.panel-content hr {
	margin: 5px 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #97ACB6;
	clear:both;
}
.panel-content ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
.panel-content li {
	list-style: none;
}
.panel-content li a{
	text-decoration: none;
}

.panel-content .year{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.panel-content .year a{
	padding: 3px 5px;
}
.panel-content .date td{
	background-image: url(images/15_09.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 21px;
	width: 15px;
	text-align: center;
	font-size: 8px;
	vertical-align: bottom;
	padding: 4px;
	font-weight: bold;
	color: #000000;
}
.panel-content .date .haveLog{
	background-image: url(images/15_07.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.panel-content .date .haveLog a{
	padding: 6px 3px 2px;
	color: #ffffff;
}
.panel-content .date .noDate {
	background: none;
}
.panel-content .week-font td{
	background: none;
	height: 10px;
	font-weight: normal;
	padding: 0px;
	color: #000000;
}
.myfav {
	padding: 1px 2px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
.myfav-over {
	padding: 0px 1px;
	border: 1px solid #864949;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

/****** article content ******/
#articleContent{
	
}
#articleInnerContent {
}
.artItem-label{
	color: #F03309;
	border: #cecece solid 1px;
	padding: 1px 5px;
	cursor: pointer;
}
#articleItem-info a {
	color: #F03309;
	font-weight:bold;
	text-decoration:none;
}
#artItem-infoBox {
	margin: 0px 20px 0px;
	line-height:20px;
}
#artItem-button {
	margin: 10px 20px;
	line-height:20px;
}

/****** templete content ******/
.tmpl-content td {
	height: 130px;
	padding: 5px;
	border-bottom: 1px solid #cecece;
}
.tmpl-content a.tmpla {
	border: none !important;
	border: 1px solid #cecece;
}
.tmpl-content a.tmpla:hover {
	border: none !important;
	border: solid 1px red;
}
.tmpl-content img {
	cursor: pointer;
	height: 100px;
	width: 100px;
	border: 1px solid #cecece !important;
	border: none;
}
.tmpl-content img:hover {
	border: solid 1px red !important;
	border: none;
}
.tmpl-content div {
	width: 100%;
}
/****** other ******/
.dialogBox {
	width: 300px;
}
.dialogBox .dialogTitleBox {
	height:23px;
	background-image: url(images/dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dialogBox .dialogTitleBox h4 {
	margin: 0px;
	padding: 3px 10px;
	float: left;
	font-size: 12px;
	font-weight: normal;
	background-color: white;
	border: 1px solid #5E696F;
	border-bottom: none;
	color: #FF3300;
}
.dialogBox .dialogContent {
	background-color: white;
	border: 1px solid #2A6300;
	border-top: none;
	padding:10px;
}
#pageNotice {
	margin-top:26px !important;
	margin-bottom:12px;
	padding:24px;
	border:1px solid #5E696F;
}
#pageNotice ul {
	margin: 0px;
	padding: 0px;
}
#pageNotice ul li {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	padding-left:24px;
	height:28px;
	line-height:28px;
	color:#ff3300;
}
#pageNotice input {
	margin-left: 24px;
}
