/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/

/****** General Styles ******/
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	

}
body {
}
a {
	color: #C7EB7F;
	text-decoration: underline;
}
a:hover {
	color: #D20303;
	text-decoration: underline;
}
img {
	border: none;
}
.arrow-up {
	height: 11px;
	width: 11px;
	background: url(images/arrow_up.gif) no-repeat center;
	cursor: pointer;
}
.arrow-down {
	height: 11px;
	width: 11px;
	background: url(images/arrow_down.gif) no-repeat center;
	cursor: pointer;
}
.greenfont, .greenfont a {
	color: #fff;

}
.redfont, .redfont a {
	color: #fff;padding-top: 25px;
}
.notice {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	padding: 5px;
}
.noticeInfo {
	
}
.noticeError {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	color: red;
	padding: 2px;
}
table.tmplTable {
	background-color: #cecece;
}
table.tmplTable td {
	background-color: white;
}
/****** Form Controls Styles ******/
form {
	margin: 0px;
	padding: 0px;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #28363F;
	line-height: 130%;
}
textarea {
	padding: 2px;
	background-color: white;
	border: 1px solid #cecece;
}
select {
	background-color: white;
	border: 1px solid #cecece;
}
input.text {
	height: 18px;
	line-height: 16px;
	background-color: white;
	border: 1px solid #cecece;
}
input.text-error {
	height: 18px;
	line-height: 16px;
	padding: 0px 2px 0px;
	background-color: white;
	border: 1px solid #5E696F;
}

input.button {
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #5E696F;
	border: 1px solid #cecece;
	cursor: pointer;
	color: white;
}
input.button2 {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #9BA4A8;
	border: 1px solid #cecece;
	cursor: pointer;
}
input.button-submit {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #9BA4A8;
	border: 1px solid #cecece;
	cursor: pointer;
}
	

/* a style which makes div touch the bottom of content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}
/****** Main Layout Styles ******/
#wrapper {
	margin: 0px auto;
	width: 993px;
	background-image: url(images/index_04.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
#innerWrapper {
}
#topPadding {
	display: none;
}
#header {
	height: 288px;
	background-image: url(images/index_01.jpg);
	background-repeat: no-repeat;
}
#innerHeader {
	width: 696px;

}
#navBar {
	height: 48px;
	background-image: url(images/index_02.jpg);
	background-repeat: no-repeat;
	background-position: left top;

}
#innerNavBar {
	width: 802px;
	margin-left: 102px;	
}
#mainNav {
	float: left;
	margin: 0px;
	padding: 0px;
}
#mainNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding-top: 25px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 0px;
}
#mainNav li a {
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
}
#mainNav li a {
	color: #fff;
	font-size: 14px;
	background-image: url(images/index9.gif);
}#mainNav li a:hover{
	color: #fff;
	font-size: 14px;
	background-image: url(images/index10.gif);
}
#mainNav .navHome {}
#mainNav .navHome:hover {}
#mainNav .navHome-active {}

#mainNav .navBlog {}
#mainNav .navBlog:hover {}
#mainNav .navBlog-active {}

#mainNav .navImg {}
#mainNav .navImg:hover {}
#mainNav .navImg-active {}

#mainNav .navSound {}
#mainNav .navSound:hover {}
#mainNav .navSound-active {}

#mainNav .navVideo {}
#mainNav .navVideo:hover {}
#mainNav .navVideo-active {}

#mainNav .navProfile {}
#mainNav .navProfile:hover {}
#mainNav .navProfile-active {}

#optionNav {
	float: right;
	padding-right: 10px;
	margin: 0px;
}
#optionNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 25px 0px 2px;
}
#optionNav li a {
	padding: 19px 6px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#optionNav li a {font-size: 14px;
	color: #fff;
}#optionNav li a:hover{font-size: 14px;
	color: #000;
}
#optionNav .navSysOpt {}
#optionNav .navSysOpt:hover {}
#optionNav .navSysOpt-active {}

#optionNav .navModOpt {}
#optionNav .navModOpt:hover {}
#optionNav .navModOpt-active {}

#optionNav .navTmplOpt {}
#optionNav .navTmplOpt:hover {}
#optionNav .navTmplOpt-active {}

#optionNav .navPreview {}
#optionNav .navPreview:hover {}
#optionNav .navPreview-active {}

#mainWrapper {
	width: 798px;
	background-image: url(images/index5.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-left: 98px;
}
#footer {
	clear: both;
	height: 125px;
	background-image: url(images/index_06.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#innerFooter{
	color: #fff; 
	padding-bottom: 5px;
	text-align: center;
}
#innerFooter a{
	color: #C7EB7F;
	text-decoration:none;
}
#innerFooter a:hover{
	color:#D20303;
	text-decoration:underline;
}
#contact {
	margin-bottom: 15px;
	width: 450px;
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#contact td {
	color: #000;
	padding: 0 10px;
}
#contact a {
	color: #000;
	text-decoration: underline;
}
#contact a:hover {
	color: #D20303;
}
#copyright{}
#bottompadding {}

/****** Header Elements Styles ******/

#blogLogo {
	display: none;
}
#blogTitle {
	float: left;
}
#blogTitle, #blogTitle a {
	color: #fff;
	font-size: 22px;
	line-height: 22px;
	font-family: "»ªÎÄÐÐ¿¬";
	text-decoration: none;
	margin-top: 18px;
	margin-left: 15px;
	padding-right: 5px;
}
#blogTitle a:hover {
	color: #B2D8DC;
}
#blogUrl {
	color: #fff;
	padding-top: 3px;
	padding-left: 37px;
	clear: both;
}
#blogUrl a {
	color: #fff;
	padding-left: 10px;
}
#blogUrl a:hover {
	color: #B2D8DC;
}
#blogDesc {
	color: #fff;
	width: 450px;
	word-break: break-all;
	margin-top: 10px;
	padding-left: 47px;
	
}
/****** NavBar Elements Styles ******/
#mainNav {
	float: left;
}
#optionNav {
	float: right;
}

/****** Content Layout ******/
/* content */
#content {
	float: right;
	width: 581px;
	overflow: hidden;
	display: inline;
	background-image: url(images/index2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 1px;	
}
#innerContent {}
.content-top {}
.content-bottom {height: 15px;}
#contentLabelBox {
	padding-top: 8px;
	padding-right: 19px;
	padding-bottom: 0px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	margin-bottom: 9px;
}
#innerContentLabelBox {
	float: left;
}
.contentLabel {
	color: #C7EB7F;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 24px;
	height: 22px;
	border: 1px solid #C8C8C8;
	padding: 3px 8px 4px;
	margin: 0px 1px;
}
.contentLabel:hover {
	border: 1px solid #C8C8C8;
	text-decoration: none;
	color: #000;
	background-color: #C8C8C8;
}
.contentLabelActive {
	color: #000;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	height: 22px;
	border: 1px solid #C8C8C8;
	padding: 3px 8px 4px;
	margin: 0px 1px;
	background-color: #C8C8C8;
}
.contentLabel-new {
	line-height: 22px;
	float: right;
}
.contentLabel-new a {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}
.contentLabel-new a:hover {
	color: #D20303;
	text-decoration: underline;

}


/* item box */
.item{
	margin-bottom: 5px;
}
.item-top {
	/*height: 4px;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-bottom {
	background-image: url(images/index11.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 52px;	
}
.item-title {
	height: 48px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 8px;
	background-image: url(images/index7.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.item hr {
	margin: 5px 0px !important;
	height: 1px;
	border: none;
	border-top: 1px solid #fff;
}
.item-titleReview {
	color:#6A6A6A;
}
.item-title h3 {
	font-size: 14px;
	float: left;
	color: #fff;
	margin-top: 15px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 40px;
}

.item-title a{
	text-decoration:none;
	color: #fff;
}
.item-title h3 a {
	font-size: 13px;
}
.item-label {
	float: right;
	margin-top: 12px; margin-right:26px;
}
.item-label a {
	color: #6A6A6A;
	margin-left: 8px;
}
.item-label a:hover {
	color: #D20303;
}
.item-body {
	
}
.item-body-hidden {
	display: none;
}
.item-content{
	margin: 0px;
    color:#C7EB7F;
	font-size:14px;	/*border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;*/
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;background-image: url(images/index8.gif);
	background-repeat: repeat-y;
	background-position: center top;
	padding-left: 40px;
}
.item-content, .item-content table {
	font-size: 13px;
	line-height: 180%;
}
.item-info {
	color: #C7EB7F;
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
    background-image: url(images/index8.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
.item-info a {
	color: #C7EB7F;
}
.item-plus{
	color:#6A6A6A;
	font-weight:bold;
}
.item-tit{
	color:#6A6A6A;
}
.item-table {
	margin: 0px 2px;
	width: 100%;
}
.item-table td{
	border-bottom:#fff solid 1px;
	padding: 0px 5px;
}
.item-table thead td{
	font-weight: bold;
	color: #6A6A6A;
}
.item-table tbody td {
}
.item-pageBox {
	margin: 0px 5px;
	padding: 10px 0px;
	color: #6A6A6A;
}
.item-pageBox a {
	color: #6A6A6A;
}
.item-page {
	color:#6A6A6A;
	font-weight:bold;
}
.item-infoBox {
	margin: 10px 20px 5px;
	line-height:20px;
}
.info-content {
	border: none;
	padding: 10px 0px;
	word-break : break-all;
	color: #FFFFFF;
}
.info-title {
	padding-top: 10px;
}
.info-title h3 {
	color: #6A6A6A;
	float: left;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.item-infoBoxTit, .item-infoBoxTit a{
	color:#6A6A6A;
}
.item-infoBoxTit a{
	text-decoration:underline;
}
.item-infoBoxTit a:hover{
	color:#f4f4f4;
	text-decoration:underline;
}

/****** Sidebar Layout ******/
#sidebar {
	float: left;
	width: 210px;
display: inline;
	background-image: url(images/index1.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#innerSidebar {
}
.panel {
	line-height:20px;
	
} 
.panel-top {

}
.panel-bottom {
	height: 11px;
	
}
.panel-title{
	color:#fff;
	height: 30px;
	background-image: url(images/index3.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 4px;
	margin-top: 5px;
}
.panel-title h3 {
	font-size: 14px;
	float: left;
	margin: 0px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 32px;
	color: #fff;
}
.panel-title h3 a {
	font-size: 14px;
}
.panel-menu{
	padding-right: 35px;
	padding-left: 3px;
	float: right;
}
.panel-label {
	float: right;
	padding-top: 1px;
	padding-right: 29px;
}
.panel-label a {
	margin-left: 8px;
}
.panel-content {
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	color: #C7EB7F;
	margin-right: 10px;
	margin-left: 15px;
}
.panel-content a{
	color: #C7EB7F;
}
.panel-content a:hover{
	color: #D20303;
}
.panel-content-hidden {
	margin: 1px 3px;
	overflow: hidden;
	height:0px;
	border-bottom: 1px solid #fff;
}

.panel-pic{
	float:left;
	margin-bottom:4px;
	margin-top:-4px;
}
.panel-content hr {
	margin: 5px 0px;
	height: 1px;
	clear:both;
}
.panel-content ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
.panel-content li {
	list-style: none;
}
.panel-content li a{
	text-decoration: none;
}

.panel-content .year{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.panel-content .year a{
	padding: 3px 5px;
}
.panel-content .date td{
	
	height: 21px;
	width: 15px;
	text-align: center;
	font-size: 8px;
	vertical-align: bottom;
	padding: 4px;
	font-weight: bold;
	color: #000000;
}
.panel-content .date .haveLog{
	
}
.panel-content .date .haveLog a{
	padding: 6px 3px 2px;
	color: #ffffff;
}
.panel-content .date .noDate {
	background: none;
}
.panel-content .week-font td{
	background: none;
	height: 10px;
	font-weight: normal;
	padding: 0px;
	color: #000000;
}
.myfav {
	padding: 1px 2px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
.myfav-over {
	padding: 0px 1px;
	border: 1px solid #fff;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

/****** article content ******/
#articleContent{
	width: 806px;
	margin-left: 99px;
	padding-top: 5px;
}
#articleInnerContent {
}
.artItem-label{
	color: #F03309;
	border: #cecece solid 1px;
	padding: 1px 5px;
	cursor: pointer;
}
#articleItem-info a {
	color: #F03309;
	font-weight:bold;
	text-decoration:none;
}
#artItem-infoBox {
	margin: 0px 20px 0px;
	line-height:20px;
}
#artItem-button {
	margin: 10px 20px;
	line-height:20px;
}

/****** templete content ******/
.tmpl-content td {
	height: 130px;
	padding: 5px;
	border-bottom: 1px solid #cecece;
}
.tmpl-content a.tmpla {
	border: none !important;
	border: 1px solid #cecece;
}
.tmpl-content a.tmpla:hover {
	border: none !important;
	border: solid 1px red;
}
.tmpl-content img {
	cursor: pointer;
	height: 100px;
	width: 100px;
	border: 1px solid #cecece !important;
	border: none;
}
.tmpl-content img:hover {
	border: solid 1px red !important;
	border: none;
}
.tmpl-content div {
	width: 100%;
}
/****** other ******/
.dialogBox {
	width: 300px;
}
.dialogBox .dialogTitleBox {
	height:23px;
	background-image: url(images/dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dialogBox .dialogTitleBox h4 {
	margin: 0px;
	padding: 3px 10px;
	float: left;
	font-size: 12px;
	font-weight: normal;
	background-color: white;
	border: 1px solid #5E696F;
	border-bottom: none;
	color: #FF3300;
}
.dialogBox .dialogContent {
	background-color: white;
	border: 1px solid #2A6300;
	border-top: none;
	padding:10px;
}
#pageNotice {
	margin-top:26px !important;
	margin-bottom:12px;
	border:1px solid #5E696F;
	margin-right: 24px;
	margin-left: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
}
#pageNotice ul {
	margin: 0px;
	padding: 0px;
}
#pageNotice ul li {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	padding-left:24px;
	height:28px;
	line-height:28px;
	color:#ff3300;
}
#pageNotice input {
	margin-left: 24px;
}
