/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/

#wrapper {
	background-image: url(images/index_fu_03.jpg);
}

#mainWrapper {
	background-image: url(images/index_fu_02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 993px;
	margin: 0px;
}
.item-title {
	height: 48px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 8px;
	background-image: url();
	
}.item-title h3 {
	font-size: 14px;
	float: left;
	color: #C7EB7F;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}.item-title a{
	
	color: #C7EB7F;
}
.item-content{
	
	padding-right: 40px;
	padding-bottom: 10px;background-image: url();
	
	padding-left: 40px;
}
.item-info {
	color: #C7EB7F;
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
    background-image: url();
	background-repeat: repeat-y;
	background-position: center top;
}.info-content {
	border: none;
	padding: 10px 40px;
	word-break : break-all;
}#articleContent{
	width: 993px;
	margin-left: 0px;
	padding-top: 5px;
	background-image: url(images/index_fu_05.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	
}#articleInnerContent {
	width: 780px;
	margin-left: 97px;
}
.item-bottom {
	background-image: url();
	
}#contentLabelBox {
	
	border-bottom-width: 0px;

}