/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: default
	Version: 2.0
	Author: blogworld (www.blogworld.com.cn)
	Copyright: www.blogworld.com.cn
==============================================================
*/

/****** General Styles ******/
body{
    background:#000 url(images/top.jpg) no-repeat center 31px;
}
div,table,ul,p{color:#B7ADAE;}
a{
    color: #B7ADAE;
	text-decoration: underline;	
}
a:hover{
    color: #ccc;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background: url(images/wrapper.jpg) repeat-x center bottom;
}
#innerWrapper{
	width: 960px!important;
	margin:0 auto;
	padding:0;
}
#header{
	height:253px;
	margin:0px;
	padding:0px;
	background:none;
}
#innerHeader{
	margin:0px;
	padding:40px 0px 0px 0px;
	text-align:center;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:4px;
	padding-left:65px;
	padding-bottom: 2px;
	display:block;
	clear:both;
	float:none;
}
#blogTitle a, #blogTitle input{
	color: #736A6C;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogTitle a:hover, #blogTitle input a:hover{
	color: #ccc;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogUrl {
	padding-top:10px;
	display:block;
	float:none;
	margin-left:60px;
	font-size: 12px;
	font-family: Arial, Verdana;
	
}
#blogUrl a{
	padding-top:10px;
	margin-left: 5px;
	font-size: 12px;
	font-family: Arial, Verdana;
}
#blogUrl a:link,#blogUrl a:visited{
	color: #736A6C;
}
#blogUrl a:hover {
	color: #ccc;
}
#blogDesc{
	color:#736A6C;
	font-size: 14px;
	padding: 0px;
	padding-top:4px;
	margin-top:8px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 64px;
}
/****** NavBar Elements Styles ******/
#navBar{
	border:none;
	margin: 0px;
	padding-left: 12px;
	padding-right: 15px;
	background:none;
	padding-top:0px;
}
.navSysOpt:visited{color: #000;}
#navBar a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
	color: #ccc;
	font-size: 12px;
	text-decoration: none;
}

#innerNavBar{
	border:none;
	margin-left:2px;
	padding-left:0px;
}
#optionNav li{
	white-space:nowrap;
}
#optionNav li a{
	color:#fff;
}
/**ÐÞ¸ÄmainNav*/
#mainNav li{
	margin: 3px 0px 3px 1px;
	padding: 2px 8px 0px 6px;
	cursor: auto;
	background:url(images/navbar_pp.jpg) repeat-x left top;
	border-bottom:1px solid #CBCBCB;
	border-top: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	border-left: 1px solid #CBCBCB;
}

#mainNav li.active{
	background:url(images/navbar_p.jpg) repeat-x left top;
	margin: 1px 0px 1px 1px;
	padding: 4px 3px 4px 3px;
	cursor: auto;
	border:1px solid #CBCBCB;
	border-bottom:none;
}
#mainNav li.private{
	background:#FFF6CC;
}

#mainNav li.hover{
	border-color:#000;
}
#mainNav li.active span{
 color:#000;
}

#mainNav li .pageTitle{
	color:#fff;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
#mainNav #newPageBtn{
	float: left;
	margin: 9px 0px 0px 4px;
	padding: 0px 8px;
}
#modContainerInfo {
	position:relative;
}
#mainNav .private .pageTitle{
	color:#000
}
/** **/


#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	padding:0px;
	margin-top:10px;
	border:none;
	background: url(images/mainwrapper.jpg) repeat-y center top;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
	background: url(images/innermainwrapper.jpg) no-repeat left top;	
}
#modContainer {padding-top:0px;margin-top:0px;	border:none;
	padding:0px;
	margin:0px;}
/****** Mod Elements Styles ******/
.mod{
	background:url(images/left.jpg) no-repeat left top;
	border:none;
}
.mod .modFrame{
	background:url(images/right.jpg) no-repeat right top;
    border:none;
}
.mod .modTable{
	border:none;
	margin:0px;
	padding:0px;
	background:url(images/mod_lb.jpg) no-repeat left bottom;
}

/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 2px;
	height:35px;
	border: none;
	background:none;
}
.mod .t{
	border: none;
	background:none;
	padding: 0px 0px 0px 0px;

}
.mod .modHeader{
	padding-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
}
.mod .rt{
	width:2px;
	background:none;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:#281E1F;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;border: none;
}
.mod .mbody{
	background: none;
}
.mod .l{
	background:url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
	padding: 4px;
	background:#281E1F;
}
.mod .modCon{
overflow:hidden;
	border:none;
}
.mod .r{
	background:url(images/mod_r.jpg) repeat-y right top;
}

.mod .mfooter{
	
}
.mod .lb{height:17px;	background:none;
}
.mod .b{
	height:17px;
	background:url(images/mod_b.jpg) no-repeat right top;
}
.mod .rb{
	height:17px;
	background:url(images/mod_rb.jpg) no-repeat center top;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #99898B;
	padding-left: 3px;
}
.mod .modEdit a{
	color: #99898B;
	text-decoration: underline;
}
.mod .modTitle a:hover{
    color: #ccc;
}

.mod .modEdit a:hover{
    color: #ccc;
}
.modCtnInfo-noMod div{
    height:238px;}

.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
#modContainerTable{
	width: 98%;
	margin-left: 9px;
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px dashed #ADACAB;
}
.item-title h3{
	color: #897678;
}
.item-title h3, .item-title h3 a{color: #B7ADAE;}
.item-title h3 a:hover{color: #ccc;
}
.item-label{}
.item-label a{
	color: #fff;
}
.item-label a:hover{color: #ccc;}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color:#B7ADAE;
	border-bottom: 1px dashed #ADACAB;
}
.item-content a{
	color:#675566;
}
.item-content a:hover{
	color:#ccc;
}
.item-info, .item-info a{
	color:#675566;
}
.item-info a:hover{
     color:#ccc
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/

#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.item-more{
	font-weight: bold;
   text-align: right;
	color: #675566;
}

.item-more a{
	font-weight: bold;
	color: #675566;
}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #675566;
}
#footer{
	clear: both;
	height: 236px;
	background:url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 160px 15px 0px 22px;
}
#contact{
	color: #000;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #fff;
}
#contact a:hover{
   color: #ccc;
}
#powered {
	padding-top: 0px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #000;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}
.texta:link {color:#B7ADAE;}
.texta:hover{color:#ccc}
.referItem a{color:#B7ADAE}
.referItem a:hover{color:#ccc}
.modCtnInfo-private{ margin:-15px 15px 0px 13px; color:#000;}
#articleInnerContent{}