.focus_newpp-content .sjzp{width:100%;text-align:left;font-size:12px;}
.focus_newpp-content .sjzp a{outline-style:none;text-decoration:underline}
.focus_newpp-content .sjzp span{float:left;width:130px;height:130px;border:1px solid #cdcdcd;padding:1px;background:#fff;margin:10px 10px 0 0;text-align:center}
.focus_newpp-content .sjzp span img{border:0}
.focus_newpp-content .sjzp .clear{clear:both}
.focus_newpp-content .sjzp .more{margin-top:5px;text-align:right;}