@charset "gbk";
/* Sohu Blog PPP StyleSheet
 * Style Name: Olympic 3
 * Version: 1.5
 * Author: Matt Wang (www.uiland.com)
 * Created: 2007-08-30
 * Update: 2007-10-09
 * Copyright: Sohu.com (www.sohu.com)
 */


/*** Structure ***/
/* Main */
#topPadding{display:none;visibility:hidden;}
#mainWrapper{border:0 none;}
.modCtnInfo-private{overflow:hidden;height:28px;margin:0 5px -28px;padding:0 20px;border-style:solid;border-width:0 1px 1px;line-height:28px;}
.modCtnInfo-noMod{padding:30px 0;}
#modContainer{padding-top:40px;}
#articleContent{padding:40px 15px 10px;}
#articleInnerContent{width:auto;padding:15px;border-style:solid;border-width:1px;}
#mainInnerContent{margin-left:230px !important;margin-left:260px;}
#contact{margin:10px 0 0;}
#copyright{margin:0;}

/* Header */
#header{height:239px;border:0 none;}
#innerHeader{padding:10px 20px;}
#blogUrl{margin-top:8px;>margin-top:6px;}
#blogDesc{padding-top:2px;}

/* NavBar */
#navBar{overflow:hidden;height:26px;border:0 none;}
#innerNavBar{padding:0 15px;}
#mainNav li{margin:2px 3px 0 0;padding:1px 8px 4px 8px;>padding:2px 8px 3px 8px;border-style:solid;border-width:1px 1px 0;}
#mainNav li a span{>padding-top:2px !important;}
#mainNav li.active{margin:0 3px 0 0;padding:2px 8px 3px 8px;border-width:1px 1px 0;}
#mainNav #newPageBtn{margin-top:8px;}

/* Mod */
.mod{margin:0 5px 10px;border-style:solid;border-width:1px;}
.mod hr{height:1px;border-style:solid;border-width:1px 0 0;}
.mod .modFrame{border:0 none;}
.mod .t{height:28px;}
.mod .modCon{overflow:hidden;}

.msg,
.profileMng,
.musicMng,
.mngBtn,
.linksAdd{margin-bottom:6px !important;padding-bottom:6px !important;}
.item-content{overflow:auto;padding:5px 0;}

/*** Background, Color & Font ***/
/* Background */
body{background:#ea5d0d url(images/body_bg.jpg) 0 30px repeat-x;}
#wrapper{background:transparent url(images/page_bg.jpg) center top no-repeat;}
#header{background:transparent;}
#mainWrapper{background:transparent;}

#navBar{background:transparent;}
#mainNav li{background:#0a0303 url(images/tabNormal_bg.jpg) top repeat-x;}
#mainNav li.active{background:#500703 url(images/tabActive_bg.jpg) top repeat-x;}
#mainNav li.private{background:#ffc874 url(images/tabPrivate_bg.jpg) top repeat-x;}
.modCtnInfo-private{background:#ffc874;}
#mainNav #newPageBtn{background:url(images/ico_addPage.gif) no-repeat center;}

.mod,
#articleInnerContent{background:#e15119;}
.mod .t{background:#3a0203 url(images/modHead_bg.jpg) top repeat-x;}

/* Link Color */
a,
.item-title h3 a,
.item-label a,
.entries-content .entriesAdd a{color:#fff000;}

a:hover,
.item-title h3 a:hover,
.item-label a:hover,
.entries-content .entriesAdd a:hover{color:#431111;}

#optionNav a:hover{color:#fff000;text-decoration:underline;}

/* Font Color */
body,
table{color:#fff;}

#blogTitle,
#blogTitle a,
#blogTitle input{color:#8e1b12;}
#blogUrl a{color:#f7f7f7;}
#blogDesc{color:#fff;}

#mainNav li *{color:#ffc600;}
#mainNav li.active *{color:#fff;}
#mainNav li.private *,
.modCtnInfo-private{color:#ff2602;}

.item-title h3{color:#fff000;}
.item-label{color:#ff5a00;}
#footer,#footer a{color:#8e1b12;}

/* Font Style */
#blogTitle,
#blogTitle a,
#blogTitle input{font:bold 20px/1.2em "Microsoft YaHei","微软雅黑",Verdana, Arial,sans-serif,"宋体";}

#mainNav li *{font-weight:normal !important;}
#mainNav li.active *{font-weight:bold !important;}

.mod .modTitle,
.entries-content .entriesAdd a{font-weight:bold;}
.item-title h3{font-size:14px;}

/* Border Color */
.mod,
.mod hr,
.mod li,
.mod .mheader,
.mod .lt,
.mod .rt,
.mod .modFrame,
.mod .mneck,
.mod .mbody,
.mod .modEditCon,

.modCon hr,
.modCon .act,
.modCon .action,
.modCon .collect .collectIco,
.modCon .messagesMng,
.modCon .miniblog-content h1,
.modCon .miniblog-content .content li,
.modCon .mngBtn,
.modCon .msg,
.modCon .musicMng,
.modCon .nav,
.modCon .newsong_list td,
.modCon .link,
.modCon .linksAdd,
.modCon .ppMng,
.modCon .ppsetText h5,
.modCon .profile,
.modCon .profileMng,
.modCon .recpost,
.modCon .referIco,
.modCon .reply,
.modCon .rplFormBox,
.modCon .unread,

.item hr,
.item .item-title,
.item .item-content,
.item .info-content blockquote,

.panel .panel-title,

#mainWrapper,
.modCtnInfo-private,
#articleInnerContent,
#footer{border-color:#ff5a00 !important;}

#mainNav li{border-color:#f44d41 !important;}
#mainNav li.active{}
#mainNav li.private{border-color:#ea793b;}

/* Form Color */
#wrapper input{color:#333;}
#wrapper input.text,
#wrapper textarea.text{border-color:#ff5a00;color:#333;}
#wrapper input.button,
#wrapper input.button-submit{border-color:#fff000;color:#fff000;background:#e15119;}
#wrapper input:hover.button,
#wrapper input:hover.button-submit{border-color:#431111;color:#431111;}
