/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/

/****** General Styles ******/
body, table {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #916C6C;
	line-height: 130%
}
body {
	background-color: #000000;
}
a {
	color: #916C6C;
	text-decoration: underline;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
}
img {
	border: none;
}
.arrow-up {
	height: 11px;
	width: 11px;
	background: url(images/arrow_up.gif) no-repeat center;
	cursor: pointer;
}
.arrow-down {
	height: 11px;
	width: 11px;
	background: url(images/arrow_down.gif) no-repeat center;
	cursor: pointer;
}
.greenfont, .greenfont a {
	color: #ffffff;
}
.redfont, .redfont a {
	color: #FF3300;
}
.notice {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	padding: 5px;
}
.noticeInfo {
	
}
.noticeError {
	background-color: #ffffe1;
	border: 1px solid #ccc;
	color: red;
	padding: 2px;
}
table.tmplTable {
	background-color: #cecece;
}
table.tmplTable td {
	background-color: white;
}
/****** Form Controls Styles ******/
form {
	margin: 0px;
	padding: 0px;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 130%;
}
textarea {
	padding: 2px;
	background-color: white;
	border: 1px solid #cecece;
}
select {
	background-color: white;
	border: 1px solid #cecece;
}
input.text {
	height: 18px;
	line-height: 16px;
	background-color: white;
	border: 1px solid #cecece;
}
input.text-error {
	height: 18px;
	line-height: 16px;
	padding: 0px 2px 0px;
	background-color: white;
	border: 1px solid red;
}

input.button {
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #864949;
	border: 1px solid #cecece;
	cursor: pointer;
	color: white;
}
input.button2 {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #864949;
	border: 1px solid #cecece;
	cursor: pointer;
}
input.button-submit {
	color: white;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #864949;
	border: 1px solid #cecece;
	cursor: pointer;
}
	

/* a style which makes div touch the bottom of content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}
/****** Main Layout Styles ******/
#wrapper {
	margin: 0px auto;
	width: 993px;
}
#innerWrapper {}
#topPadding {
	display: none;
}
#header {
	background-image: url(images/bw7_01.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 397px;
	background-color: #FF0000;
}
#innerHeader {
	padding: 30px 20px 0px;
	width: 700px;
	margin-left: 155px;
}
#navBar {
	background-image: url(images/bw7_03.gif);
	background-repeat: no-repeat;
	height: 56px;
}
#innerNavBar {
	width: 726px;
	margin-left: 155px;
}
#mainNav {
	float: left;
	margin: 0px;
	padding: 0px;
}
#mainNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 32px 0px 2px;
}
#mainNav li a {
	padding: 32px 12px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#mainNav li a {
	color: #ffffff;
}
#mainNav .navHome { background-image: url(images/icoMenu_home.gif);}
#mainNav .navHome:hover { background-image: url(images/icoMenu_home_over.gif);}
#mainNav .navHome-active { background-image: url(images/icoMenu_home_over.gif); color: #ffffff; cursor: default;}

#mainNav .navBlog { background-image: url(images/icoMenu_blog.gif);}
#mainNav .navBlog:hover { background-image: url(images/icoMenu_blog_over.gif);}
#mainNav .navBlog-active { background-image: url(images/icoMenu_blog_over.gif); color: #ffffff; cursor: default;}

#mainNav .navImg { background-image: url(images/icoMenu_img.gif);}
#mainNav .navImg:hover { background-image: url(images/icoMenu_img_over.gif);}
#mainNav .navImg-active { background-image: url(images/icoMenu_img_over.gif); color: #ffffff; cursor: default;}

#mainNav .navSound { background-image: url(images/icoMenu_sound.gif);}
#mainNav .navSound:hover { background-image: url(images/icoMenu_sound_over.gif);}
#mainNav .navSound-active { background-image: url(images/icoMenu_sound_over.gif); color: #ffffff; cursor: default;}

#mainNav .navVideo { background-image: url(images/icoMenu_video.gif);}
#mainNav .navVideo:hover { background-image: url(images/icoMenu_video_over.gif);}
#mainNav .navVideo-active { background-image: url(images/icoMenu_video_over.gif); color: #ffffff; cursor: default;}

#mainNav .navProfile { background-image: url(images/icoMenu_profile.gif);}
#mainNav .navProfile:hover { background-image: url(images/icoMenu_profile_over.gif);}
#mainNav .navProfile-active { background-image: url(images/icoMenu_profile_over.gif); color: #ffffff; cursor: default;}

#optionNav {
	float: right;
	padding-right: 10px;
	margin: 0px;
}
#optionNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 35px 0px 2px;
}
#optionNav li a {
	padding: 35px 6px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#optionNav li a {
	color: #ffffff;
}
#optionNav .navSysOpt { background-image: url(images/icoMenu_sysOpt.gif);}
#optionNav .navSysOpt:hover { background-image: url(images/icoMenu_sysOpt_over.gif);}
#optionNav .navSysOpt-active { background-image: url(images/icoMenu_sysOpt_over.gif); color: #ffffff; cursor: default;}

#optionNav .navModOpt { background-image: url(images/icoMenu_modOpt.gif);}
#optionNav .navModOpt:hover { background-image: url(images/icoMenu_modOpt_over.gif);}
#optionNav .navModOpt-active { background-image: url(images/icoMenu_modOpt_over.gif); color: #ffffff; cursor: default;}

#optionNav .navTmplOpt { background-image: url(images/icoMenu_tmplOpt.gif);}
#optionNav .navTmplOpt:hover { background-image: url(images/icoMenu_tmplOpt_over.gif);}
#optionNav .navTmplOpt-active { background-image: url(images/icoMenu_tmplOpt_over.gif); color: #ffffff; cursor: default;}

#optionNav .navPreview { background-image: url(images/icoMenu_preview.gif);}
#optionNav .navPreview:hover { background-image: url(images/icoMenu_preview_over.gif);}
#optionNav .navPreview-active { background-image: url(images/icoMenu_preview_over.gif); color: #ffffff; cursor: default;}

#mainWrapper {
	background-image: url(images/bw7_05.gif);
	background-repeat: repeat-y;
	background-position: left top;
	width: 993px;
}
#footer {
	clear: both;
	background-image: url(images/bw7_15.gif);
	background-repeat: no-repeat;
	height: 102px;
}
#innerFooter{
	color: #ffffff;
	padding-top: 45px;
	text-align: center;
}
#innerFooter a{
	color: #ffffff;
	text-decoration:none;
}
#innerFooter a:hover{
	color:#cccccc;
	text-decoration:underline;
}
#contact {
	margin: 0px auto;
	margin-bottom: 10px;
	width: 350px;
	background-color: white;
	border: 1px solid #cecece;
}
#contact td {
	color: #7e7e7e;
	padding: 0 10px;
}
#contact a {
	color: #7e7e7e;
	text-decoration: underline;
}
#contact a:hover {
	color: #CD5F60;
}
#copyright{
	text-align: center;
	padding-top: 5px;
}
#bottompadding {}

/****** Header Elements Styles ******/
#blogLogo {
	display: none;
}
#blogTitle {
	float: left;
}
#blogTitle, #blogTitle a {
	color: #ffffff;
	margin: 0 10px 0 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;	text-decoration: none;
	line-height: 120%;
}
#blogTitle a:hover {
color: #D6D6E1;
}
#blogUrl {
	float: left;
}
#blogUrl a {
	color: #ffffff;
	margin: 0 5px;
}
#blogUrl a:hover {
	color: #D6D6E1;
}
#blogDesc {
	color: #D6D6E1;
	clear: both;
	padding-top: 20px !important;
	padding-top: 0px;
	word-break: break-all;
}
/****** NavBar Elements Styles ******/
#mainNav {
	float: left;
}
#optionNav {
	float: right;
}

/****** Content Layout ******/
/* content */
#content {
	float: left;
	width: 510px;
	overflow: hidden;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 165px;
}
#innerContent {
	width: 500px;
	overflow: hidden;
}
.content-top {	
	height: 4px;
	border-top: 1px solid #864949;
	border-left: 1px solid #864949;
	border-right: 1px solid #864949;
	font-size: 0px;
	line-height: 1px;
}
.content-bottom {
}
#contentLabelBox {
	padding: 0px 5px;
	height: 24px;
	margin-top: 3px;
}
#innerContentLabelBox {
	float: left;
}
.contentLabel {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 24px;
	height: 22px;
	border: 1px solid #864949;
	padding: 3px 8px 4px;
	margin: 0px 1px;
}
.contentLabel:hover {
	border: 1px solid #864949;
	text-decoration: none;
	color: #ffffff;
	background-color: #864949;
}
.contentLabelActive {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	height: 22px;
	border: 1px solid #864949;
	padding: 3px 8px 4px;
	margin: 0px 1px;
	background-color: #864949;
}
.contentLabel-new {
	line-height: 22px;
	float: right;
}
.contentLabel-new a {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
}
.contentLabel-new a:hover {
	color: #FF3300;
	text-decoration: underline;

}


/* item box */
.item{
	margin-bottom: 5px;
}
.item-top {
	/*height: 4px;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-bottom {
	/*height: 4px;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-title {
	background-image: url(images/bw7_11.gif);
	background-repeat: repeat-x;
	height: 22px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.item hr {
	margin: 5px 0px !important;
	height: 1px;
	border: none;
	border-top: 1px solid #CCB3B3;
}
.item-titleReview {
	color:#CCB3B3;
}
.item-title h3 {
	font-size: 13px;
	float: left;
	margin: 0px;
	color: #CCB3B3;
}

.item-title a{
	text-decoration:none;
	color: #CCB3B3;
}
.item-title h3 a {
	font-size: 13px;
}
.item-label {
	float: right;
}
.item-label a {
	color: #009A91;
	margin-left: 8px;
}
.item-label a:hover {
	color: #CD5F60;
}
.item-body {}
.item-body-hidden {
	display: none;
}
.item-content{
	margin: 0px;
	padding: 10px 5px;
	overflow: hidden;	/*border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;*/
}
.item-content, .item-content table {
	font-size: 13px;
}
.item-content, .item-content * {
	line-height: 180%;
}
.item-info {
	margin: 0px 5px;
	padding: 10px 0px;
	color: #FF0000;
}
.item-info a {
	color: #FF0000;
}
.item-plus{
	color:#FF0000;
	font-weight:bold;
}
.item-tit{
	color:#FF0000;
}
.item-table {
	margin: 0px 2px;
	width: 100%;
}
.item-table td{
	border-bottom:#CCB3B3 solid 1px;
	padding: 0px 5px;
}
.item-table thead td{
	font-weight: bold;
	color: #FF0000;
}
.item-table tbody td {
}
.item-pageBox {
	margin: 0px 5px;
	padding: 10px 0px;
	color: #FF0000;
}
.item-pageBox a {
	color: #FF0000;
}
.item-page {
	color:#FF0000;
	font-weight:bold;
}
.item-infoBox {
	margin: 10px 20px 5px;
	line-height:20px;
}
.info-content {
	border: none;
	padding: 10px 0px;
	word-break : break-all;
}
.info-content blockquote {
	border: 1px dashed #CCB3B3; 
	padding: 10px;
}
.info-title {
	padding-top: 10px;
}
.info-title h3 {
	color: #FF0000;
	float: left;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.item-infoBoxTit, .item-infoBoxTit a{
	color:#FF0000;
}
.item-infoBoxTit a{
	text-decoration:underline;
}
.item-infoBoxTit a:hover{
	color:#FF0000;
	text-decoration:underline;
}

/****** Sidebar Layout ******/
#sidebar {
	float: right;
	width: 190px;
	padding-top: 5px;
	padding-right: 117px;
	padding-bottom: 5px;
	overflow: hidden;
}
#innerSidebar {
	overflow: hidden;
}
.panel {
	margin-bottom: 5px;
	line-height:20px;
} 
.panel-top {

}
.panel-bottom {

}
.panel-title, .panel-menu {
	color:#F0F0F0;
	/*background-image: url(images/2_07.jpg);*/
	background-repeat: no-repeat;
	height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #660000;	
}
.panel-title h3 {
	font-size: 13px;
	float: left;
	margin: 0px;
	padding: 8px 0px 0px 5px;
}
.panel-title h3 a {
	font-size: 13px;
}
.panel-label {
	float: right;
	padding-top: 8px;
	padding-right: 3px;
}
.panel-label a {
	margin-left: 8px;
}
.panel-content {
	clear: both;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 5px;
}
.panel-content-hidden {
	margin: 1px 3px;
	overflow: hidden;
	height:0px;
	border-bottom: 1px solid #660000;
}

.panel-pic{
	float:left;
	padding-right:6px;
	margin-bottom:4px;
	margin-top:-4px;
}
.panel-content hr {
	margin: 5px 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #660000;
	clear:both;
}
.panel-content ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
.panel-content li {
	list-style: none;
}
.panel-content li a{
	text-decoration: none;
}

.profile {
	white-space: nowrap !important;
	overflow: auto !important;
	white-space: inherit;
	overflow: inherit;
	word-break: break-all;
}
.panel-content .year{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.panel-content .year a{
	padding: 3px 5px;
}
.date td{
	background-image: url(images/bw7_08.gif);
	height: 21px;
	width: 15px;
	text-align: center;
	font-size: 8px;
	vertical-align: bottom;
	padding: 4px;
	font-weight: bold;
	color: #9C9BAA;
}
.panel-content .date .haveLog{
	background-image: url(images/bw7_08.gif);
}
.panel-content .date .haveLog a{
	padding: 6px 3px 2px;
	color: #ffffff;
}
.panel-content .date .noDate {
	background: none;
}
.panel-content .week-font td{
	background: none;
	height: 10px;
	font-weight: normal;
	padding: 0px;
}
.myfav {
	padding: 1px 2px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
.myfav-over {
	padding: 0px 1px;
	border: 1px solid #864949;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

/****** article content ******/
#articleContent{
	width: 717px;
	margin-left: 160px;
	padding-top: 10px;
}
#articleInnerContent {
}
.artItem-label{
	color: #F03309;
	border: #cecece solid 1px;
	padding: 1px 5px;
	cursor: pointer;
}
#articleItem-info a {
	color: #F03309;
	font-weight:bold;
	text-decoration:none;
}
#artItem-infoBox {
	margin: 0px 20px 0px;
	line-height:20px;
}
#artItem-button {
	margin: 10px 20px;
	line-height:20px;
}

/****** templete content ******/
.tmpl-content td {
	height: 130px;
	padding: 5px;
	border-bottom: 1px solid #cecece;
}
.tmpl-content a.tmpla {
	border: none !important;
	border: 1px solid #cecece;
}
.tmpl-content a.tmpla:hover {
	border: none !important;
	border: solid 1px red;
}
.tmpl-content img {
	cursor: pointer;
	height: 100px;
	width: 100px;
	border: 1px solid #cecece !important;
	border: none;
}
.tmpl-content img:hover {
	border: solid 1px red !important;
	border: none;
}
.tmpl-content div {
	width: 100%;
}
/****** other ******/
.dialogBox {
	width: 300px;
}
.dialogBox .dialogTitleBox {
	height:23px;
	background-image: url(images/dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dialogBox .dialogTitleBox h4 {
	margin: 0px;
	padding: 3px 10px;
	float: left;
	font-size: 12px;
	font-weight: normal;
	background-color: white;
	border: 1px solid #864949;
	border-bottom: none;
	color: #FF3300;
}
.dialogBox .dialogContent {
	background-color: white;
	border: 1px solid #864949;
	border-top: none;
	padding:10px;
}
#pageNotice {
	margin-top:26px !important;
	margin-bottom:12px;
	padding:24px;
	border:1px solid #864949;
}
#pageNotice ul {
	margin: 0px;
	padding: 0px;
}
#pageNotice ul li {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	padding-left:24px;
	height:28px;
	line-height:28px;
	color:#ff3300;
}
#pageNotice input {
	margin-left: 24px;
}
