/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: default
	Version: 2.0
	Author: blogworld (www.blogworld.com.cn)
	Copyright: www.blogworld.com.cn
==============================================================
*/

/****** General Styles ******/
html{	border-right:1px solid #ccc;}
body{
    background:url(images/body.jpg) repeat center 31px;
}
div,table,ul,p{color:#552D0A;}
a{
    color: #552D0A;
	text-decoration: underline;	
}
a:hover{
    color: #f00;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background: url(images/top.jpg) no-repeat center top;
}
#innerWrapper{
	width: 950px!important;
	margin:0 auto;
	padding:0;
}
#header{
	height:202px;
	margin:0px;
	padding:0px;
	background:none;
}
#innerHeader{
	margin:0px;
	padding:57px 0px 0px 116px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:4px;
	padding-left:65px;
	padding-bottom: 2px;
	display:block;
}
#blogTitle a, #blogTitle input{
	color: #DC0000;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogTitle a:hover, #blogTitle input a:hover{
    color: #f00;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogUrl {
	padding-top:6px;
	display:block;
	float:none;
	margin-left:62px;
	font-size: 12px;
	font-family: Arial, Verdana;
	
}
#blogUrl a{
	padding-top:10px;
	margin-left: 5px;
	font-size: 12px;
	font-family: Arial, Verdana;
}
#blogUrl a:link,#blogUrl a:visited{
	color: #000;
}
#blogUrl a:hover{
    color: #f00;
}
#blogDesc{
	color:#000;
	font-size: 14px;
	padding: 0px;
	padding-top:0px;
	margin-top:0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 67px;
}
/****** NavBar Elements Styles ******/
#navBar{
	border:none;
	margin: 0px;
	padding-left: 30px;
	padding-right: 15px;
	background:none;
	padding-top:0px;
}
.navSysOpt:visited{color: #000;}
#navBar a{
	color: #8E723C;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
    color: #f00;
	font-size: 12px;
	text-decoration: none;
}

#innerNavBar{
	border:none;
	margin-left:2px;
	padding-left:0px;
}
#optionNav li{
	white-space:nowrap;
}
#optionNav li a{
	color:#fff;
}
/**޸mainNav*/
#mainNav li{
	margin: 8px 0px 8px 1px;
	padding: 3px 8px 3px 6px;
	cursor: auto;
	background:#C5A76C;
	border:1px solid #8E723C;
	border-bottom:none;
}

#mainNav li.active{
	background:#EAD498;
	margin: 6px 0px 6px 1px;
	padding-bottom:5px!important;
	padding: 6px 3px 6px 5px;
	cursor: auto;
	border:none;
}
#mainNav li.private{
	background:#FFF6CC;
}

#mainNav li.hover{
	border-color:#000;
}
#mainNav li.active span{
 color:#000;
}

#mainNav li .pageTitle{
	color:#8E723C;
}
#mainNav li .pageTitleHover{
	background:none;
}
#mainNav #newPageBtn{
	float: left;
	margin: 13px 0px 0px 4px;
	padding: 0px 8px;
}
#modContainerInfo {
	position:relative;
}
#mainNav .private .pageTitle{
	color:#000
}
/** **/


#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	padding:0px;
	margin:0 auto;
	border:none;
	background:none;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0 auto;
}
#modContainer {
	border:none;
	padding:0px 20px;
	margin:0 auto;
	margin-top:10px;
	background: url(images/mainwrapper.jpg) repeat-y center top;
	}
#articleContent{background: url(images/mainwrapper.jpg) repeat-y center top;}
/****** Mod Elements Styles ******/
.mod{
	background:none;
	border: 1px solid #BDA24D;
}
.mod .modFrame{
	background:none;
    border:none;
}
.mod .modTable{
	border:none;
	margin:0px;
	padding:0px;
	background:none;
}

/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 1px;
	height:25px;
	border: none;
	background:none;
}
.mod .t{
	border: none;
	padding: 0px 0px 0px 0px;
	background:none;

}
.mod .modHeader{
	padding-top: 2px;
	margin-bottom: 0px;
	padding-left: 5px;
}
.mod .rt{
	width:1px;
	background:none;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:none;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;border: none;
}
.mod .mbody{
	background: none;
}
.mod .l{
	background:none;
}
.mod .c{
	padding: 4px;
	background:none;
	border-top:1px solid #F2D995;
}
.mod .modCon{
overflow:hidden;
	border:none;
}
.mod .r{
	background:none;
}

.mod .mfooter{
	
}
.mod .lb{height:1px;	background:none;
}
.mod .b{
	height:1px;
	background:none;
}
.mod .rb{
	height:1px;
	background:none;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #000;
	padding-left: 3px;
}
.mod .modEdit a{
	color: #000;
	text-decoration: underline;
}
.mod .modTitle a:hover{
    color: #f00;
}

.mod .modEdit a:hover{
    color: #f00;
}
.modCtnInfo-noMod div{
    height:238px;}

.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
#modContainerTable{
	width: 98%;
	margin-left: 9px;
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px dashed #552D0A;
}
.item-title h3{
	color: #897678;
}
.item-title h3, .item-title h3 a{color: #552D0A;}
.item-title h3 a:hover{color: #f60;
}
.item-label{}
.item-label a{
	color: #000;
}
.item-label a:hover{color: #f60;}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color:#552D0A;
	border-bottom: 1px dashed #552D0A;
}
.item-content a{
	color:#915928;
}
.item-content a:hover{
    color: #f00;
}
.item-info, .item-info a{
	color:#444;
}
.item-info a:hover{
     color:#f60
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/

#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.item-more{
	font-weight: bold;
   text-align: right;
	color: #000;
}

.item-more a{
	font-weight: bold;
	color: #000;
}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #DC0000;
}
.entries-content .entriesAdd a:hover{
	color: #000;
}
#footer{
	clear: both;
	height: 180px;
	background:url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 98px 15px 0px 22px;
}
#contact{
	color: #000;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #000;
}
#contact a:hover{
   color: #444;
}
#powered {
	padding-top: 0px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #000;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}
.texta:link {color:#552D0A;}
.texta:hover{color:#f00;}
.referItem span{color:#986D48;}
.referItem a{color:#552D0A;}
.referItem a:hover{color:#f00;}
.modCtnInfo-private{margin:0 auto; color:#000; width:826px; margin-top:5px!important; margin-top:0px;}
#articleInnerContent{}