/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
html{ border-right:1px solid #ccc;}
body{
	background:#FFF;
}
div,table,ul,p{color:#64706E;}
a{color: #005776;text-decoration: underline;}
a:hover{
	color: #F30;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #A9CDE3;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #A9CDE3;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #A9CDE3;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #A9CDE3;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
background: url(images/top.jpg) no-repeat center top!important;
}
#innerWrapper{
    background: none;
	margin:0 auto;
	padding:0;
	width:968px;	
}
#header{
background: none;
	height:255px;
	margin:0px;
	padding:0px;
	
}
#innerHeader{
	margin:0px;
	padding:30px 0px 0px 10px;
}

/****** Header Elements Styles ******/
#blogTitle{
	padding-top:14px;
	padding-left:70px;
	display:block;
	clear:both;
	float:none;
}
#blogTitle a, #blogTitle input{
	color: #000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover, #blogTitle input{
	color: #F30;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogUrl {padding-left:65px;}
#blogUrl a:link,#blogUrl a:visited{
	color: #000;
}
#blogUrl a:hover {
	color: #F30 !important;
}
#blogDesc{
	color: #000;
	font-size: 14px;
	padding: 0px;
	padding-top:6px;
	margin-top:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
}
/****** NavBar Elements Styles ******/

#navBar{
	border:none;
	padding:0px;
	background:none;
}
#navBar a{
	color: #64706E;
	font-size: 12px;
	text-decoration: none;
}

#navBar a:hover { color:#F30;}
#innerNavBar{
	border:none;
	margin:0px;
	padding: 0px 15px 0px 30px;
}
#optionNav li a{
    color: #075252;
	white-space:nowrap;
}
#optionNav li a:hover{ color:#F30;}
/**޸mainNav*/
#mainNav li{
	background:#FBFFFF;
	cursor: pointer;
	margin: 4px 2px 0px 0px;
	padding: 3px 8px 0px;
	display: block;
	left: 0px;
	top: 0px;
	border: 1px solid #C4E2FE;
}

#mainNav li.active{
	background:#FCD2F8;
	border-bottom: none;
	margin: 4px 2px 0px 0px;
	padding: 4px 8px 1px;
	cursor: auto;
	border-top: 1px solid #C4E2FE;
	border-right: 1px solid #C4E2FE;
	border-left: 1px solid #C4E2FE;
}
#mainNav li.private{
	background:#FFF6CC;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#075252;
 
}
#mainNav li .pageTitle{
	color:#64706E;
}
#mainNav li .pageTitleHover{
	background:none;
}
#modContainerInfo {
	margin: 0px 19px 5px;
	position:relative;
}
#mainNav .private .pageTitle{color:#000;}
.modCtnInfo-private{
    margin:-12px 14px 0px 14px!important;
	margin:-16px 14px 0px 14px;
	color:#000;
	border-bottom: 1px solid #C4E2FE;	
}
/** **/
#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:8px 0px 0px!important;
	margin:12px 0px 0px;
	background: none;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}
#mainNav #newPageBtn{
	/*background: url(images/ico_addPage.gif) no-repeat center;
	float: left;
	margin: 11px 0px 0px 4px;*/
	padding: 0px 10px;
}
/****** Mod Elements Styles ******/
.mod{
	background: url(images/mod.gif) no-repeat left top;
	border-style: none;
}
.mod .modFrame{
	border: none;
	background: url(images/modFrame.jpg) no-repeat left bottom;
}
.mod .modTable{
	margin:0px;
	padding:0px;
	background: none
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
    width:4px;
	height:29px;
	background:none;
}
.mod .t{
	background:url(images/mod_t.jpg) no-repeat right top;
	padding: 0px 4px;
}
.mod .modHeader{
	padding-top: 4px;
}
.mod .rt{
    width:4px;
	background:url(images/mod_rt.jpg) no-repeat right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:#FFF url(images/mod_c.jpg) no-repeat right bottom;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
    width:4px;
	background: url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
padding:4px;
background:#FFF url(images/mod_c.jpg) no-repeat right bottom;	
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
    width:5px;
	background: url(images/mod_r.jpg) repeat-y right top;
}

.mod .mfooter{
	
}
.mod .lb{
	height:13px;
	width:4px;
	background: none;
}
.mod .b{
	background: url(images/mod_b.jpg) no-repeat right bottom;
}
.mod .rb{
    width:4px;
	background: url(images/mod_rb.jpg) no-repeat right bottom;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #000;
}
.mod .modTitle a:hover{
    color: #F30;
}
.mod .modEdit a{
	color: #000;
	text-decoration: underline;
}
.mod .modEdit a:hover{
    color: #F30;
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	border-top: 1px solid #A9CDE3;
}
.item-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9CDE3;
}

.item-title h3, .item-title h3 a{color: #000;}
.item-title h3 a:hover{color: #F30;}
.item-label{}
.item-label a{color: #000;}
.item-label a:hover{color: #F30;}

.item-body{}
.item-body-hidden{}
.item-content{
	border-bottom: 1px solid #A9CDE3;
	color:#333;
}

.item-content a{
	color: #FF7E00;
}
.item-content a:hover{
    color: #F30;
}
.item-info, .item-info a{
	color: #125E63;
}
.item-info a:hover{
	color: #F30;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/
#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #A9CDE3; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }

.item-more{
	font-weight: bold;
   text-align: right;
	color: #64706E;
}

.item-more a{
	font-weight: bold;
	color: #64706E;
}
.item-more a:hover{ color: #F30}
/*.entries-content .entriesAdd a{
	font-weight: bold;
	color: #64706E;
}*/
.entries-content .entriesAdd a:hover{
	font-weight: bold;
	color: #F30;
}
#footer{
	clear: both;
	height: 90px;
	background: url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 20px 15px 0px 22px;
}
#contact {
	color: #64706E;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #64706E;
}
#contact a:hover{
   color: #F30;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #64706E;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
.modCtnInfo-noMod {color: #F30;}
.Feeds-content li a {color:#64706E;}
.Feeds-content li a:hover {color:#F30;}
.texta:link {text-decoration: none;}
.texta:hover{text-decoration: none;}
.referItem a{text-decoration: none;}
.referItem a:hover{text-decoration: none;}
/*»*/
.profile-content hr{
	margin: 5px 0px !important;
	margin: -5px 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #A9CDE3;
	clear:both;
}
.profile-content .profileMng{
	text-align: right;
	border-bottom: 1px solid #A9CDE3;
	margin-bottom: 3px;
}
.messages-content .msg{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #A9CDE3;
	clear: both;
}
.links-content .link, .Custom_Links-content .link{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #A9CDE3;
	clear: both;
}
.links-content .linksAdd, .Custom_Links-content .linksAdd{
	text-align: right;
	border-bottom: 1px solid #A9CDE3;
	padding-bottom: 2px;
	margin-bottom: 3px;
}