/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
html{ border-right:1px solid #f5f9f2;}
body{
	background: #000 url(images/body.jpg) repeat-x left 31px;
}
div,table,ul,p{color:#adadad;}
a{color: #FE0000;text-decoration: underline;}
a:hover{
	color: #F38B8B;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #FE0000;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #FE0000;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #FE0000;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #FE0000;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
background: url(images/top.jpg) no-repeat center top;
}
#innerWrapper{
    background: none;
	width:968px;	
}
#header{
background: none;
	height:215px;
	margin:0px;
	padding:0px;
	
}
#innerHeader{
	margin:0px 0px 0px 85px;
	padding:0px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:35px;
	padding-left:30px;
	display:block;
	clear:both;
	float:none;
}
#blogTitle a, #blogTitle input{
	color: #FE0000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover, #blogTitle input{
	color: #F38B8B;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogUrl {padding-left:27px;}
#blogUrl a:link,#blogUrl a:visited{
	color: #FE0000;
}
#blogUrl a:hover {
	color: #F38B8B !important;
}
#blogDesc{
	color: #FE0000;
	font-size: 14px;
	padding: 0px;
	padding-top:6px;
	margin-top:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
}
/****** NavBar Elements Styles ******/

#navBar{
	border:none;
	padding:0px;
	background:none;
}
#navBar li.indiOpt{
	background:none;
	border:none;
	padding-right: 0px;
}
#navBar li.indiOptActive{
    padding-top: 6px;

}

#navBar a{
	color: #FE0000;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
	color: #F38B8B;
	font-size: 12px;
	text-decoration: none;
}
#innerNavBar{
	border:none;
	margin:0px;
	padding: 0px 24px 0px 24px;
}
#optionNav li a{
color: #FE0000;
	white-space:nowrap;
}
#optionNav li a:hover{
color: #F38B8B;
	white-space:nowrap;
}
/**޸mainNav*/
#mainNav li{
	background: url(images/ico_02.jpg) repeat-x left top;
	border: 1px solid #FE0000;
	cursor: pointer;
	margin: 5px 2px 0px 0px;
	padding: 3px 8px 0px;
	display: block;
	left: 0px;
	top: 0px;
}

#mainNav li.active{
	background: url(images/ico_01.jpg) repeat-x left top;
	border-top-width: 1px;
	border-top-color: #FE0000;
	border-bottom: none;
	margin: 5px 2px 0px 0px;
	padding: 4px 8px 2px;
	cursor: auto;
}
#mainNav li.private{
	background: #FFF6CC;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#fff;
}

#mainNav li .pageTitle{
	color:#FE0000;
}

#mainNav li .pageTitleHover{
	background-color: #CB0101;
}
#modContainerInfo {
	margin: 0px 19px 5px;
	position:relative;
}
#mainNav .private .pageTitle { color:#000;}
.modCtnInfo-private{
	margin:-11px 14px 0px 14px;
	background: #FFF6CC;
	color:#000;
	border-bottom: 1px solid #3da215;	
}

/** **/
#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:10px 0px 0px;
	background:none;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}
/****** Mod Elements Styles ******/
.mod{
	background: url(images/mod.jpg) no-repeat left top;
	border-style: none;
}
.mod .modFrame{
	border: none;
	background: url(images/modFrame.jpg) no-repeat left bottom;
}
.mod .modTable{
	margin:0px;
	padding:0px;
	background: none
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
    width:4px;
	height:36px;
	background:none;
}
.mod .t{
	background:url(images/mod_t.jpg) no-repeat right top;
	padding: 0px 4px;
}
.mod .modHeader{
	padding-top: 2px;
}
.mod .rt{
    width:4px;
	background:url(images/mod_rt.jpg) no-repeat right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:none ;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
    width:4px;
	background: url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
padding:4px;
background:none;	
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
    width:4px;
	background: url(images/mod_r.jpg) repeat-y right top;
}

.mod .mfooter{
	
}
.mod .lb{
	height: 3px;
	width:4px;
	background: none;
}
.mod .b{
	background: url(images/mod_b.jpg) no-repeat right bottom;
}
.mod .rb{
    width:4px;
	background: url(images/mod_rb.jpg) no-repeat right bottom;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #FFF;
}
.mod .modTitle a:hover{
    color: #F38B8B;
}

.mod .modEdit a{
	color: #FFF;
	text-decoration: underline;
}
.mod .modEdit a:hover{
    color: #F38B8B;
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	border-top: 1px solid #FE0000;
}
.item-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FE0000;
}

.item-title h3, .item-title h3 a{color: #FE0000;}
.item-title h3 a:hover{color: #F38B8B;}
.item-label{}
.item-label a{color: #FE0000;}
.item-label a:hover{color: #F38B8B;}

.item-info a:hover{color: #F38B8B;}

.item-body{}
.item-body-hidden{}
.item-content{
	border-bottom: 1px solid #FE0000;
}

.item-content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FE0000;
		color: #FE0000;
}
.item-content a{
	color: #F1F1F1;
}
.item-content a:hover{
    color: #F38B8B;}
.item-info, .item-info a{
	color: #F1F1F1;
}
.item-info a:hover{
	color: #F38B8B;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/
#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #CCC; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }

.item-more{
	font-weight: bold;
   text-align: right;
	color: #ADADAD;
}

.item-more a{
	font-weight: bold;
	color: #ADADAD;
}
.item-more a:hover{ color: #F38B8B}
#footer{
	clear: both;
	height: 150px;
	background: url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 40px 15px 0px 22px;
}
#contact {
	color: #FE0000;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #FE0000;
}
#contact a:hover{
   color: #F38B8B;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #FE0000;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

.modCtnInfo-noMod {color: #333;}
.Feeds-content li a {color:#adadad;}
.Feeds-content li a:hover {color:#F38B8B;}
.texta:link {text-decoration: none;}
.texta:hover{text-decoration: none;}
.referItem a{text-decoration: none;}
.referItem a:hover{text-decoration: none;}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #FF0000;
}
.entries-content .entriesAdd a:hover{
	font-weight: bold;
	color: #F38B8B;
}
/*»*/
.profile-content hr{
	margin: 5px 0px !important;
	margin: -5px 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #FE0000;
	clear:both;
}
.profile-content .profileMng{
	text-align: right;
	border-bottom: 1px solid #FE0000;
	margin-bottom: 3px;
}
.messages-content .msg{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #FE0000;
	clear: both;
}
.links-content .link, .Custom_Links-content .link{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #FE0000;
	clear: both;
}
.links-content .linksAdd, .Custom_Links-content .linksAdd{
	text-align: right;
	border-bottom: 1px solid #FE0000;
	padding-bottom: 2px;
	margin-bottom: 3px;
}