/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#wrapper {
	background-image: url(images/index_02.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
#mainWrapper {
	background-image: url(images/index_05.jpg);
	background-repeat: no-repeat;
	background-position: right top;	
}
#articleContent {
	background-image: url(images/index_04.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#articleInnerContent { width:740px; margin:0px 80px 0px 70px;}