/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/
body {
	background-color: #03417C;
	background-image: url(images/index_13.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}

/****** article content ******/
#articleContent{
	width: 750px;
	margin-left: 130px;
	padding-top: 60px;
}
#mainWrapper {
	background-image: url(images/index_12.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#footer {
	clear: both;
	height: 154px;
	background-image: url(images/index_14.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#blogTitle {
	float: left;
	padding-top: 8px;
}