/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/

/****** General Styles ******/
body{
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #C6C6C6;
	line-height: 130%;
}
body {
	background-color: #000000;
}
a {
	color: #C6C6C6;
	text-decoration: underline;
	line-height: 1.6em;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
	line-height: 1.6em;
}
img {
	border: none;
}
.arrow-up {
	height: 11px;
	width: 11px;
	background: url(images/arrow_up.gif) no-repeat center;
	cursor: pointer;
}
.arrow-down {
	height: 11px;
	width: 11px;
	background: url(images/arrow_down.gif) no-repeat center;
	cursor: pointer;
}
.greenfont, .greenfont a {
	color: #ffffff;
}
.redfont, .redfont a {
	color: #FDF3F3;
}
.notice {
	background-color: #303030;
	border: 1px solid #303030;
	padding: 5px;
}
.noticeInfo {
	
}
.noticeError {
	background-color: #303030;
	border: 1px solid #303030;
	color: red;
	padding: 2px;
}
table.tmplTable {
	background-color: #303030;
}
table.tmplTable td {
	background-color: #303030;
}
/****** Form Controls Styles ******/
form {
	margin: 0px;
	padding: 0px;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 130%;
}
textarea {
	padding: 2px;
	background-color: #303030;
	border: 1px solid #303030;
}
select {
	background-color: #303030;
	border: 1px solid #303030;
}
input.text {
	height: 18px;
	line-height: 16px;
	background-color: #303030;
	border: 1px solid #303030;
}
input.text-error {
	height: 18px;
	line-height: 16px;
	padding: 0px 2px 0px;
	background-color: #303030;
	border: 1px solid #303030;
}

input.button {
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #C6C6C6;
	border: 1px solid #303030;
	cursor: pointer;
	color: #303030;
}
input.button2 {
	color: #303030;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #C6C6C6;
	border: 1px solid #303030;
	cursor: pointer;
}
input.button-submit {
	color: #303030;
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: #C6C6C6;
	border: 1px solid #303030;
	cursor: pointer;
}
	

/* a style which makes div touch the bottom of content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}
/****** Main Layout Styles ******/
#wrapper {
	margin: 0px auto;
	width: 993px;

}
#innerWrapper {

	background-position: left 203px;
}
#topPadding {
	display: none;
}
#header {
	background-image: url(images/index_01.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 297px;
}
#innerHeader {
	padding: 15px 10px 20px;
	width: 700px;
	margin-left: 60px;
}
#navBar {
	background-image: url(images/index_02.jpg);
	background-repeat: no-repeat;
	height: 73px;
	width: 993px;
}
#innerNavBar {
	width: 709px;
	margin-left: 152px;
	padding-left: 10px;
	padding-right: 10px;
	
	height: 60px;
}
#mainNav {
	float: left;
	margin: 0px;
	padding: 1px;
}
#mainNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 35px 0px 2px;
}
#mainNav li a {
	padding: 35px 12px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#mainNav li a {
	color: #FFFFFF;
}
#mainNav .navHome { background-image: url(images/icoMenu_home.gif);}
#mainNav .navHome:hover { background-image: url(images/icoMenu_home_over.gif);}
#mainNav .navHome-active { background-image: url(images/icoMenu_home_over.gif); color: #FFFFFF; cursor: default;}

#mainNav .navBlog { background-image: url(images/icoMenu_blog.gif);}
#mainNav .navBlog:hover { background-image: url(images/icoMenu_blog_over.gif);}
#mainNav .navBlog-active { background-image: url(images/icoMenu_blog_over.gif); color: #FFFFFF; cursor: default;}

#mainNav .navImg { background-image: url(images/icoMenu_img.gif);}
#mainNav .navImg:hover { background-image: url(images/icoMenu_img_over.gif);}
#mainNav .navImg-active { background-image: url(images/icoMenu_img_over.gif); color: #FFFFFF; cursor: default;}

#mainNav .navSound { background-image: url(images/icoMenu_sound.gif);}
#mainNav .navSound:hover { background-image: url(images/icoMenu_sound_over.gif);}
#mainNav .navSound-active { background-image: url(images/icoMenu_sound_over.gif); color: #FFFFFF; cursor: default;}

#mainNav .navVideo { background-image: url(images/icoMenu_video.gif);}
#mainNav .navVideo:hover { background-image: url(images/icoMenu_video_over.gif);}
#mainNav .navVideo-active { background-image: url(images/icoMenu_video_over.gif); color: #FFFFFF; cursor: default;}

#mainNav .navProfile { background-image: url(images/icoMenu_profile.gif);}
#mainNav .navProfile:hover { background-image: url(images/icoMenu_profile_over.gif);}
#mainNav .navProfile-active { background-image: url(images/icoMenu_profile_over.gif); color: #FFFFFF; cursor: default;}

#optionNav {
	float: right;
	margin: 0px;
	padding: 2px;
}
#optionNav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 35px 0px 2px;
}
#optionNav li a {
	padding: 41px 6px 0px;
	background-position: center top;
	background-repeat: no-repeat;
	text-decoration: none;
}
#optionNav li a {
	color: #FFFFFF;
}
#optionNav .navSysOpt { background-image: url(images/icoMenu_sysOpt.gif);}
#optionNav .navSysOpt:hover { background-image: url(images/icoMenu_sysOpt_over.gif);}
#optionNav .navSysOpt-active { background-image: url(images/icoMenu_sysOpt_over.gif); color: #FFFFFF; cursor: default;}

#optionNav .navModOpt { background-image: url(images/icoMenu_modOpt.gif);}
#optionNav .navModOpt:hover { background-image: url(images/icoMenu_modOpt_over.gif);}
#optionNav .navModOpt-active { background-image: url(images/icoMenu_modOpt_over.gif); color: #FFFFFF; cursor: default;}

#optionNav .navTmplOpt { background-image: url(images/icoMenu_tmplOpt.gif);}
#optionNav .navTmplOpt:hover { background-image: url(images/icoMenu_tmplOpt_over.gif);}
#optionNav .navTmplOpt-active { background-image: url(images/icoMenu_tmplOpt_over.gif); color: #FFFFFF; cursor: default;}

#optionNav .navPreview { background-image: url(images/icoMenu_preview.gif);}
#optionNav .navPreview:hover { background-image: url(images/icoMenu_preview_over.gif);}
#optionNav .navPreview-active { background-image: url(images/icoMenu_preview_over.gif); color: #FFFFFF; cursor: default;}

#mainWrapper {
	width: 993px;

}
#footer {
	clear: both;
height: 117px;
	width: 993px;
}
#innerFooter{
	color: #E1E1E1;
	padding-top: 40px;
	text-align: center;
}
#innerFooter a{
	color: #E1E1E1;
	text-decoration:none;
}
#innerFooter a:hover{
	color:#ffffff;
	text-decoration:underline;
}
#contact {
	margin: 0px auto;
	margin-bottom: 20px;
	width: 450px;
	background-color: white;
	border: 1px solid #cecece;
}
#contact td {
	color: #7e7e7e;
	padding: 0 10px;
}
#contact a {
	color: #7e7e7e;
	text-decoration: underline;
}
#contact a:hover {
	color: #CD5F60;
}
#copyright{
	text-align: center;
	padding-top: 5px;
}
#bottompadding {}

/****** Header Elements Styles ******/
#blogLogo {
	display: none;
}
#blogTitle {
	float: left;
}
#blogTitle, #blogTitle a {
	color: #E1E1E1;
	margin: 0 10px 0 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;	text-decoration: none;
	line-height: 120%;
}
#blogTitle a:hover {
color: #ffffff;
}
#blogUrl {
	float: left;
	padding-top: 5px;
}
#blogUrl a {
	color: #E1E1E1;
	margin: 0 5px;
}
#blogUrl a:hover {
	color: #ffffff;
}
#blogDesc {
	color: #E1E1E1;
	clear: both;
	padding-top: 20px !important;
	padding-top: 0px;
	word-break: break-all;
}
/****** NavBar Elements Styles ******/
#mainNav {
	float: left;
}
#optionNav {
	float: right;
}

/****** Content Layout ******/
/* content */
#content {
	width: 617px;
	float: right;
	margin-right: 65px;
	background-image: url(images/index_12.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	display: inline;
}
#innerContent {
	width: 617px;
	overflow: hidden;
	padding-top: 0px;
	background-image: url(images/index_18.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;	
}
.content-top {
	height: 4px;
	border-left: 1px solid #303030;
	border-right: 1px solid #303030;
	font-size: 0px;
	line-height: 1px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
}
.content-bottom {
	height: 9px;
	font-size: 0px;
	line-height: 1px;

}
#contentLabelBox {
	height: 24px;
	margin-top: 0px;
	margin-right: 0px;
	background-image: url(images/index_07.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
#innerContentLabelBox {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}
.contentLabel {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 24px;
	height: 22px;
	border: 1px solid #303030;
	border-bottom: none;
	padding: 3px 8px 4px;
	margin: 0px 1px;
}
.contentLabel:hover {
	border: 1px solid #303030;
	border-bottom: none;
	text-decoration: none;
	color: #ffffff;
	background-color: #303030;
}
.contentLabelActive {
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
	height: 22px;
	border: 1px solid #303030;
	border-bottom: none;
	padding: 3px 8px 4px;
	margin: 0px 1px;
	background-color: #303030;
}
.contentLabel-new {
	line-height: 22px;
	float: right;
}
.contentLabel-new a {
	color: #FDF3F3;
	font-weight: bold;
	font-size: 13px;
}
.contentLabel-new a:hover {
	color: #ffffff;
	text-decoration: underline;

}


/* item box */
.item{
	margin-bottom: 5px;
	margin-right: 15px;
	margin-left: 5px;
}
.item-top {
	/*height: 4px;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-bottom {
	/*height: 4px;
	border-bottom: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	font-size: 0px;
	line-height: 1px;*/
}
.item-title {
	color:#FFFFFF;
	height: 25px;
	padding-top: 10px;
	padding-left: 5px;
}
.item hr {
	margin: 5px 0px !important;
	height: 1px;
	border: none;
	border-top: 1px solid #FFFFFF;
}
.item-titleReview {
	color:#FFFFFF;
}
.item-title h3 {
	font-size: 14px;
	float: left;
	margin: 0px;
}

.item-title a{
	text-decoration:none;
}
.item-title h3 a {
	font-size: 13px;
	color:#FFFFFF;
}
.item-label {
	float: right;
}
.item-label a {
	color: #FDF3F3;
	margin-left: 8px;
}
.item-label a:hover {
	color: #FDF3F3;
}
.item-body {}
.item-body-hidden {
	display: none;
}
.item-content{
	margin: 0px;
	overflow: hidden;	/*border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;*/
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.item-content, .item-content table {
	font-size: 13px;
}
.item-content, .item-content * {
	line-height: 180%;
}
.item-info {
	color: #FDF3F3;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #cccccc;
	border-bottom-color: #cccccc;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.item-info a {
	color: #FDF3F3;
}
.item-plus{
	color:#FDF3F3;
	font-weight:bold;
}
.item-tit{
	color:#FDF3F3;
}
.item-table {
	margin: 0px 2px;
	width: 100%;
}
.item-table td{
	border-bottom:#303030 solid 1px;
	padding: 0px 5px;
}
.item-table thead td{
	font-weight: bold;
	color: #FDF3F3;
}
.item-table tbody td {
}
.item-pageBox {
	margin: 0px 5px;
	padding: 10px 0px;
	color: #FDF3F3;
}
.item-pageBox a {
	color: #FDF3F3;
}
.item-page {
	color:#FDF3F3;
	font-weight:bold;
}
.item-infoBox {
	margin: 10px 20px 5px;
	line-height:20px;
}
.info-content {
	border: none;
	padding: 10px 0px;
	word-break : break-all;
}
.info-content blockquote {
	border: 1px dashed #FFFFFF; 
	padding: 10px;
}
.info-content blockquote {
	border: 1px dashed #cecece; 
	padding: 10px;
}
.info-title {
	padding-top: 10px;
}
.info-title h3 {
	color: #FDF3F3;
	float: left;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.item-infoBoxTit, .item-infoBoxTit a{
	color:#FDF3F3;
}
.item-infoBoxTit a{
	text-decoration:underline;
}
.item-infoBoxTit a:hover{
	color:#ffffff;
	text-decoration:underline;
}

/****** Sidebar Layout ******/
#sidebar {
	width: 226px;
	float: left;
	overflow: hidden;
	display: inline;
	margin-left: 72px;
	background-image: url(images/index_14.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
#innerSidebar {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 2px;
	overflow: hidden;
}
.panel {
	background-image: url(images/index_05.jpg);
	background-repeat: no-repeat;
	background-position: left top;
} 
.panel-top {
}
.panel-bottom {
	background-image: url(images/index_16.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 18px;
}
.panel-title, .panel-menu {
	color:#FDF3F3;
	height: 30px;

}
.panel-title h3 {
	font-size: 13px;
	float: left;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
}
.panel-title h3 a {
	font-size: 13px;
}
.panel-label {
	float: right;
	padding-top: 10px;
	padding-right:10px;
}
.panel-label a {
	margin-left: 8px;
}
.panel-content {
	margin: 8px;
	clear: both;
	padding-left: 5px;
}
.panel-content-hidden {
	overflow: hidden;
	height:0px;
	border-bottom: 1px solid #303030;
	margin-top: 1px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
}

.panel-pic{
	float:left;
	padding-right:6px;
	margin-bottom:4px;
	margin-top:-4px;
}
.panel-content hr {
	height: 0px;
	border: none;
	clear:both;
}
.panel-content ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
.panel-content li {
	list-style: none;
}
.panel-content li a{
	text-decoration: none;
}

.profile {
	white-space: nowrap !important;
	overflow: auto !important;
	white-space: inherit;
	overflow: inherit;
	word-break: break-all;
}
.panel-content .year{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}
.panel-content .year a{
	padding: 3px 5px;
}
.date td{
	background:url(images/datebg.gif) no-repeat center;
	height: 21px;
	width: 15px;
	text-align: center;
	font-size: 8px;
	vertical-align: bottom;
	padding: 4px;
	font-weight: bold;
	color: #000000;
}
.panel-content .date .haveLog{
	background:url(images/datebg_haveLog.gif) no-repeat center;
	color: #ffffff;
}
.panel-content .date .haveLog a{
	padding: 4px 3px 2px;
	color: #ffffff;
}
.panel-content .date .noDate {
	background: none;
}
.panel-content .week-font td{
	background: none;
	height: 10px;
	font-weight: normal;
	padding: 0px;
}
.myfav {
	padding: 1px 2px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
.myfav-over {
	padding: 0px 1px;
	border: 1px solid #303030;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

/****** article content ******/
#articleContent{
	
}
#articleInnerContent {
}
.artItem-label{
	color: #F03309;
	border: 1px solid #000000;
	padding: 1px 5px;
	cursor: pointer;
}
#articleItem-info a {
	color: #F03309;
	font-weight:bold;
	text-decoration:none;
}
#artItem-infoBox {
	margin: 0px 20px 0px;
	line-height:20px;
}
#artItem-button {
	margin: 10px 20px;
	line-height:20px;
}

/****** templete content ******/
.tmpl-content td {
	height: 130px;
	padding: 5px;
	border-bottom: 1px solid #cecece;
}
.tmpl-content a.tmpla {
	border: none !important;
	border: 1px solid #cecece;
}
.tmpl-content a.tmpla:hover {
	border: none !important;
	border: solid 1px red;
}
.tmpl-content img {
	cursor: pointer;
	height: 100px;
	width: 100px;
	border: 1px solid #cecece !important;
	border: none;
}
.tmpl-content img:hover {
	border: solid 1px red !important;
	border: none;
}
.tmpl-content div {
	width: 100%;
}
/****** other ******/
.dialogBox {
	width: 300px;
}
.dialogBox .dialogTitleBox {
	height:23px;
	background-image: url(images/dot1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dialogBox .dialogTitleBox h4 {
	margin: 0px;
	padding: 3px 10px;
	float: left;
	font-size: 12px;
	font-weight: normal;
	background-color: #4F4F4F;
	border: 1px solid #FFFFFF;
	border-bottom: none;
	color: #FDF3F3;
}
.dialogBox .dialogContent {
	background-color: #4F4F4F;
	border: 1px solid #FFFFFF;
	border-top: none;
	padding:10px;
}
#pageNotice {
	margin-top:26px !important;
	margin-bottom:12px;
	padding:24px;
	border:1px solid #FFFFFF;
}
#pageNotice ul {
	margin: 0px;
	padding: 0px;
}
#pageNotice ul li {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	list-style-type: none;
	padding-left:24px;
	height:28px;
	line-height:28px;
	color:#ffffff;
}
#pageNotice input {
	margin-left: 24px;
}
