.focus_category-content .zpfl{text-align:left;background:#ebf7f5;width:100%;padding:10px}
.focus_category-content .zpflt{font-weight:bold;text-align:left;font-size:12px;font-family:ו;line-height:20px;color:#000;margin-left:10px}
.focus_category-content .zpflc{margin:0 20px 10px 20px;text-align:left;font-size:12px;font-family:ו;line-height:20px;color:#000}
.focus_category-content .zpflc a{outline-style:none;color:#000;text-decoration:underline}
.focus_category-content .zpflc ul,.zpflc li{list-style:none;margin:0;padding:0}