/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/


body{
	background: #03417C url(images/top.jpg) no-repeat center 30px;
}
div,table,ul,p{ color:#2CA9D2;}
a{
	color: #FFF;
	text-decoration: underline;
}
a:hover{
	/*
	color: red;
	text-decoration: underline;
	*/
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
background: url(images/foot.jpg) no-repeat center bottom;
}
#innerWrapper{
 background: none;	
}
#header{
background: none;
	margin:0px;
	padding:0px;
	height: 313px;
}
#innerHeader{
	margin:0px;
	padding:0px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:80px;
	padding-left:160px;
}
#blogTitle a, #blogTitle input{
	color: #09FEE8;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover, #blogTitle input{
	color: #F60;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogUrl {
	padding-top:82px;

}
#blogUrl a:link,#blogUrl a:visited{
	color: #FFF;
}
#blogUrl a:hover {
	color: #F60 !important;
}
#blogDesc{
	color: #FFF;
	font-size: 14px;
	padding: 0px;
	padding-top:8px;
	margin-top:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 160px;
}
/****** NavBar Elements Styles ******/
#optionNav li{
	white-space:nowrap;
}
#navBar a{
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}
#navBar{
	border:none;
	margin:0px;
	padding:0px;
	 background: none
}
#innerNavBar{
	border:none;
	padding:0px 10px;
	margin:0px;
}

/**ÐÞ¸ÄmainNav*/
#mainNav li{
	background: #2BDBE7;
	border: 1px solid #408FB1;
	cursor: pointer;
	margin: 4px 2px 0px 0px;
	padding: 3px 8px 2px;
	display: block;
	left: 0px;
	top: 0px;
}

#mainNav li.active{
	background: #04729D;
	border-top-width: 2px;
	border-top-color: #408FB1;
	border-bottom: none;
	margin: 2px 2px 0px 0px;
	padding: 4px 8px 6px;
	cursor: auto;
}
#mainNav li.private{
	background: #FFF6CD;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#408FB1;
}

#mainNav li .pageTitle{
	color:#000;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
#modContainerInfo {
	margin: 0px 19px 5px;
	position:relative;
}
/** **/

#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:0px;
	background: none;
}

#innerMainWrapper{
width:960px;
	border:none;
	padding:18px 0px 0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}

/****** Mod Elements Styles ******/
.mod{
	border:none;
	background-image: url(images/mod.jpg);
	background-repeat: no-repeat;
	background-position: left top;

}
.mod .modFrame{
border:none;
	background-image: url(images/modFrame.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod .modTable{


	margin:0px;
	padding:0px;
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;
	background: none;

	}
.mod .lt{
	width: 4px;
	background: none;

}
.mod .t{
	border: none;
background-image: url(images/mod_t.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height:40px;
	padding-top:2px;
	padding-left:5px;
	padding-right:6px;
}
.mod .modHeader{
	padding-top: 2px;
	padding-bottom: 8px;
}
.mod .rt{
	width: 4px;
	background-image: url(images/mod_rt.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background-image: url(images/mod_c.jpg);
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
    width: 4px;
	 background-image: url(images/mod_l.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.mod .c{
	overflow:hidden;
	background-image: url(images/mod_c.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	padding: 8px;
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	background-image: url(images/mod_r.jpg);
	background-repeat: repeat-y;
	background-position: right top;	
	width: 4px;
}

.mod .mfooter{
	
}
.mod .lb{
	width: 4px;
}
.mod .b{
    height:10px;
	background-image: url(images/mod_b.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;

}
.mod .rb{
	 height:10px;
	 	background-image: url(images/mod_rb.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;

}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #FFF;
}
.mod .modEdit a{
	
	color: #FFF;
	text-decoration: underline;
	
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px dashed #0687AC;
}
.item-title h3{
	color: #FFFFFF;
}
.item-title h3, .item-title h3 a{color: #FFFFFF;}
.item-label{}
.item-label a{color: #FFF;}
.item-label a:hover{color: #F60;}

.item-info a:hover{color: #F60;}

.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color:#FFF;
	border-bottom: 1px dashed #0687AC;
}
.item-content a{
	color:#3EEBFF;
}
.item-info, .item-info a{
	color: #3EEBFF;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/
#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #FFCF09;
}
.Feeds-content li a{
	color: #E6E6E6;
}
.item-more{
	font-weight: bold;
   text-align: right;
	color: #FFF;
}

.item-more a{
	font-weight: bold;
	color: #FFF;
}
#footer{
	clear: both;
	background:none;	
}
#innerFooter{
	text-align: center;
	border: none;
	padding-top: 35px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 22px;
}

#contact {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #FFF;
}
#contact a:hover{
   color: #F60;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
.modCtnInfo-noMod {color: #333;}
/*Ìí¼ÓÐÞ¸Ä*/
#blogUrl a:hover {
	color: #ff0000;
}
#navBar a:hover{
	color: #F60;
	font-size: 12px;
	text-decoration: none;
}

.mod .modTitle a:hover{
    color: #F60;
}

.mod .modEdit a:hover{
    color: #F60;
}

.item-content a:hover{
    color: #F60;
}