.flash-content {
	margin:0 auto;
	color:#fff;
}
	.flash-content .flashLabel {
	}
	
	.flash-content .links div {
		width: 45%;
		text-align:center;
		margin-top:10px;
	}
	.flash-content .links .listFlash {
		float:left;
	}
	.flash-content .links .fullScreen {
		float:right;
	}