/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	background-image: url(images/13_21_02.jpg);
	background-repeat: no-repeat;
}
#wrapper {
	background-image: url(images/13_2_02.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
#footer {
	background-image: url(images/13_2_08.jpg);
	background-repeat: no-repeat;
}
.item-title {
	background-image: url(images/232.gif);
	background-repeat: no-repeat;
}
.content-top {
	display:none;
}
.content-bottom {
	display:none;
}