/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: default
	Version: 2.0
	Author: blogworld (www.blogworld.com.cn)
	Copyright: www.blogworld.com.cn
==============================================================
*/

/****** General Styles ******/
html{	border-right:1px solid #ccc;}
body{
	background: #C0C9C2;
}
div,table,ul,p{ color:#5D5D5D;}
a{
	color: #333;
	text-decoration: underline;
}
a:hover{
	color: #f00;
	text-decoration: underline;

}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background: url(images/top.jpg) no-repeat center top;
}
#innerWrapper{
 background: none;
 width:960px;	
}
#header{
background: none;
	margin:0px;
	padding:0px;
	height: 208px;
}
#innerHeader{
	margin:0px;
	padding:0px 0px 0px 20px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:15px;
	padding-left:65px;
	display:block;
	clear:both;
	float:none;
}
#blogTitle a, #blogTitle input{
	color: #FD6A00;
	text-decoration: none;
	padding-top:38px;
	font: bold 22px/1.6em "ËÎÌå", Arial, Helvetica, sans-serif;
}
#blogTitle a:hover, #blogTitle input a:hover{
	color: #f00;	
	font-size: 22px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:8px;
	font-family: "ËÎÌå", Arial, Helvetica, sans-serif;
}
#blogUrl {
	display:block;
	float:none;
	margin-left:42px;
	font-size: 12px;
	font-family: Arial, Verdana;
	padding-bottom: 8px;	
}
#blogUrl a{
	padding-top:5px;
	margin-left: 22px;
	font-size: 12px;
	font-family: Arial, Verdana;
}
#blogUrl a:link,#blogUrl a:visited{
	color: #000;
}
#blogUrl a:hover {
	color: #f00;
}
#blogDesc{
	color:#000;
	font-size: 14px;
	padding: 0px;
	padding-top:1px;
	margin-top:0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 64px;
}
/****** NavBar Elements Styles ******/
#optionNav li{
	white-space:nowrap;
}
#navBar a{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
	color: #f00;
	font-size: 12px;
	text-decoration: none;
}
#navBar{
	border:none;
	margin:0px;
	padding:0px;
	background:none;
}
#innerNavBar{
	border:none;
	background:none;
	padding:0px 25px;
	margin:0px;
}

/**ÐÞ¸ÄmainNav*/
#mainNav li{
	background: #F1F1F1;
	border: 1px solid #BBBBBB;
	cursor: pointer;
	margin: 4px 2px 0px 0px;
	padding: 3px 8px 4px;
	display: block;
	left: 0px;
	top: 0px;
}

#mainNav li.active{
	background: #FAFCFC;
	border-top-width: 1px;
	border-top-color: #BBBBBB;
	border-bottom: none;
	margin: 2px 2px 0px 0px;
	padding: 4px 8px 6px;
	cursor: auto;
}
#mainNav li.private{
	background: #FFF6CD;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#000;
}

#mainNav li .pageTitle{
	color:#000;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
#modContainerInfo {
	margin: -8px 19px 5px;
	position:relative;
}
.modCtnInfo-private { margin:-7px 12px 0;}	
/** **/

#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:7px 0px 0px;
	background: url(images/mainWrapper.jpg) repeat-y center top;
}

#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}

/****** Mod Elements Styles ******/
.mod{
	border:none;
	background-image: url(images/mod.jpg);
	background-repeat: no-repeat;
	background-position: left top;

}
.mod .modFrame{
border:none;
	background-image: url(images/modFrame.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod .modTable{


	margin:0px;
	padding:0px;
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;
	background: none;

	}
.mod .lt{
	width: 4px;
	background: none;

}
.mod .t{
	border: none;
	background-image: url(images/mod_t.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height:38px;
	padding: 0px 6px 0px 5px;
}
.mod .modHeader{
	padding-top: 5px;
	padding-bottom: 5px;
}
.mod .rt{
	width: 4px;
	background-image: url(images/mod_rt.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background: url(images/mod_c.jpg) repeat-y center top;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
	width: 4px;
	background: url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
	overflow:hidden;
	padding: 4px;
	background: url(images/mod_c.jpg) repeat-y center top;
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	background-image: url(images/mod_r.jpg);
	background-repeat: repeat-y;
	background-position: right top;	
	width: 4px;
}

.mod .mfooter{
	
}
.mod .lb{
	width: 4px;
}
.mod .b{
    height:13px;
	background-image: url(images/mod_b.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;

}
.mod .rb{
    width: 4px;
	background-image: url(images/mod_rb.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;

}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #000;
}
.mod .modEdit a{
	
	color: #000;
	text-decoration: underline;
	
}
.mod .modTitle a:hover{
    color: #f00;
}

.mod .modEdit a:hover{
    color: #f00;
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px dashed #999;
}
.item-title h3{
	color: #F97008;
}
.item-title h3, .item-title h3 a{color: #F97008;}
.item-title h3 a:hover{
    color: #ff0000;
}
.item-label{}
.item-label a{
color: #F97008;
}
.item-label a:hover{
    color: #ff0000;
}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color:#F97008;
	border-bottom: 1px dashed #999;
}
.item-content a{
	
		color:#000;
}
.item-info, .item-info a{
	color: #000;
}
.item-info a:hover{
    color: #f00;
}
.item-content a:hover{
    color: #f00;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/
#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #FF0000;
}
.entries-content .entriesAdd a:hover{
    color: #f60;
	font-weight: bold;
}
.item-more{
	font-weight: bold;
   text-align: right;
	color: #000;
}

.item-more a{
	font-weight: bold;
	color: #000;
}
.item-more a:hover{
    color: #f00;
	font-weight: bold;
}
#footer{
	clear: both;
	background: url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding-top: 45px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 22px;
}

#contact {
	color: #000;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #000;
}
#contact a:hover{
	color: #f00;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #000;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
.modCtnInfo-noMod {color: #F0F0F0;}
.Feeds-content li a{
	color: #5d5d5d;
}