/*============	Sohu Blog PPP StyleSheet File ======================
	Title		:	F2模板视觉之－搜狐博客主题
	Type		:	搜狐默认系列
	ThemeNo		:	p23
	Author		:	Fei2Team (www.fei2.net)
	Created		:	2006年12月
	Update		:	2008-01-31
	CopyRt		:	Sohu.com (www.sohu.com)
===================================================================*/

body{padding:0;margin:0;}
#topPadding{display:none;} /* by Matt@080131 */

.clear{border-width:0px;}
input.text{font-size:12px;}


.mod{border-width:0;margin:0px 5px 10px 5px;}
.mod .modFrame{border-width:1px;}
.mod .mheader {border-bottom:1px solid;}
.mod .lt,
.mod .rt {width:1px;font-size:1px;}
.mod .t{height:27px;padding:0 5px;border-width:0 0 1px 0;border-style:solid;} /* by Matt@080131 */
.mod .c{padding:10px;} /* by Matt@080131 */
.item-title h3,
.item-title h3 a {font-size:13px;}
.item-content {padding:5px 0 5px 0;}

.modCon .profileMng {padding-bottom:5px;}
.mod .modEditCon{margin:0px 1px 1px 1px;padding:10px 0 10px 10px;border-width:0 0 1px 0;}

.categories-content li,
.latest_comments-content li {height:22px;
line-height:22px;}
.categories-content a,
.latest_comments-content a {text-decoration:none;
height:22px;
line-height:22px;}

.refer-content a {text-decoration:none;
line-height:18px;}
.links-content .editFrame,
.Custom_Links-content .editFrame{border-width:0px;}


#wrapper {width:100%;background-position:100% 100%;background-repeat:no-repeat;}
#modContainer{padding:15px 5px 5px;} /* by Matt@080131 */


#header{border:0 none;background:none;overflow:hidden;}

#navBar {border-width:0px;height:33px;overflow:hidden;}

#mainNav li{border-width:1px 1px 0 1px;border-style:solid;margin:4px 3px 0px 0px;padding:2px 8px 5px 8px !important;padding:3px 8px 4px 8px;}
#mainNav li .pageTitle {font-weight:normal;}
#mainNav li.active{border-width:1px 1px 0 1px;border-style:solid;padding:4px 8px 7px 8px !important;padding:4px 8px 6px 8px;margin-right:3px;}
#mainNav li .pageTitle,
#mainNav a span {font-weight:normal;}

.modCtnInfo-private {height:30px;line-height:30px;border-style:solid;border-width:0 1px 1px 1px;padding:2px 35px 0;overflow:hidden;background-repeat:no-repeat;background-position:15px 50%;} /* by Matt@080131 */
.modCtnInfo-noMod {padding:15px 0;}
#innerNavBar {padding:0 15px}
#optionNav li {margin-left:15px;}


#innerFooter{text-align:center;padding:0 40px 13px 40px;}
#powered {margin:13px 0;}
#contact, #copyright{margin:0;line-height:20px;}


#innerContentLabelBox {padding:15px 0 0 0;}

div,table,ul,span,p{color:#595959;}
a {color:#96B0AF;}
a:hover {color:#f00;}

body {
background:#fff url(images/body_bg.jpg) repeat-x 50% 30px;
}

#mainWrapper{
	border-color:#EAEAEA;
	background:#fff url(images/navbar_bg.jpg) repeat-x 0 -1px;
}

#header {
	height:125px;
	background:none;
}
#blogTitle {
padding-top:10px;
padding-left:12px;
}

#blogTitle,
#blogTitle a,
#blogTitle input{
	font:bold 20px/1.2em "Microsoft YaHei","微软雅黑",Verdana, Arial,sans-serif,"宋体";
} /* by Matt@080131 */

#blogUrl {
padding-top:12px;
}
#blogTitle a,
#blogTitle a:visited {
	color:#F03309;
}
#blogUrl a,
#blogUrl a:visited {
	color:#9F6074;
}
#blogDesc {
	color:#9F6074;
	line-height:20px;
	padding:15px 0 0 12px;
}


#footer {
	background:none;
}
#contact,
#contact a,
#contact a:visited{
	color:#4F6F7E;
}
#contact a:hover {
	color:#f00;
}
#copyright {
	color:#96B0AF;
}


.mod .t{
	background:#F3F3F3 url(images/mod_t_bg.jpg) repeat-x 0 50%;
}
.mod .lt,
.mod .rt {
	width:0;
}
.mod .modTitle {
color:#333333;
}
.mod .modEditCon{
	background:none;
}

.modCon .entriesAdd a,
.modCon .entriesAdd a:visited{
	color: #F00066;
}

.item-title h3,
.item-title h3 a,
.item-title h3 a:visited {
	color:#333333;
}
.item-info,
.item-info a,
.item-info a:visited {
	color:#96B0AF;
}
.item-info a:hover {
	color:#f00;
}


#innerContentLabelBox {
color:#B99984;
}
/*#innerContentLabelBox a,
#innerContentLabelBox a:visited {
color:#333333;
}*/


input.text,
textarea.text,
input.button,
input.button-submit {
	border-color:#EAEAEA;
}
.mod .mheader {
border-color:#EAEAEA;
}
.mod .modFrame{
	border-color:#EAEAEA;
}
.mod .modEditCon {
	border-color:#EAEAEA;
}
.item-title,
.item hr,
.item-content {
	border-color:#EAEAEA;
}
.info-content blockquote {
	border-color:#EAEAEA;
}
.fresh_blogs-content hr,
.fresh_blogs-content .collect .collectIco {
	border-color:#EAEAEA;
}
.links-content .link,
.Custom_Links-content .link,
.links-content .linksAdd,
.Custom_Links-content .linksAdd {
	border-color:#EAEAEA;
}
.links-content .linkEdit,
.Custom_Links-content .linkEdit{
	border-width:0px;
}
.pp-content .ppMng {
	border-color:#EAEAEA;
}
.profile-content hr,
.profile-content .profileMng {
	border-color:#EAEAEA;
}
.refer .referIco {
	border-color:#EAEAEA;
}
.music-content .musicMng{
	border-color:#EAEAEA;
}
.messages-content .messagesMng,
.messages-content .msg,
.messages-content .reply,
.messages-content .rplFormBox{
	border-color:#EAEAEA;
}


#navBar{
	background:url(images/navbar_bg.jpg) repeat-x 0 32px;
}

#mainNav li{
	background:#E7ECEE url(images/tab_bg_normal.jpg) repeat-x 0 0;
	border-color: #DCE1E3;
	border-bottom: none;
}
#mainNav li.active{
	background:#F5F5F5 url(images/tab_bg_active.jpg) repeat-x 0 0;
	border-color:#EAEAEA;
}
#mainNav li.active *{
	font-weight:bold !important;
} /* by Matt@080131 */
#mainNav li.private {
	background:#FFD682 url(images/tab_bg_private.jpg) repeat-x 0 0;
	border-color:#EAEAEA;
}
#mainNav li.hover{
	border-color:#f00;
	color:#Fff;
}
#optionNav a,
#optionNav a:visited {
color:#0E4156;
}
#optionNav a:hover {
color:#f00;
}

.modCtnInfo-private {
background-image:url(images/ico_light.gif);
	border-color:#EAEAEA;
	background-color:#FFD681;
	color:#F00;
}
/* by cnlei@fei2.net at 2007-1-4 8:57:01 */
