/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	width: 807px;
	background-image: url(images/index-qt_05.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
#articleContent{
	width: 807px;
	background-image: url(images/index-qt_03.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#articleInnerContent {
	width: 760px;
	margin-left: 30px;
	
}
#footer {
	clear: both;
	background-image: url(images/index-qt_07.gif);
	background-repeat: no-repeat;
	height: 100px;
	background-position: left top;
	padding-top: 30px;
}
.content-bottom {
	background-image: url()!important;
	
}