/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: 21
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-07-08
	Last Update: 2006-07-08
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/

/****** General Styles ******/
body{
	background-position: center 0px;
	background-color: #4F0E00;
	background-image: url(images/bg_24.jpg);
	background-repeat: repeat-y;
}
div,table,ul,span,p{color: #333333;}
a{
	color: #993300;
}
a:hover{
	color: red;
}
textarea{
	border: 1px solid #EEFAFF;
	background-color: #FFFFFF;
	color: #000000;
}
select{
	border: 1px solid #999999;
	background-color: #FFFFFF;
	color: #333333;
}
input.text{
	border: 1px solid #cccccc;
	background-color: #ffffff;
	color: #000000;
}
input.button{
	border: 1px solid #cccccc;
	height: 18px;
	line-height: 16px;
	color: #990000;
}
input.button-submit{
		border: 1px solid #cccccc;
	height: 18px;
	line-height: 16px;
	color: #000000;
}
/****** Main Layout Styles ******/
#wrapper{
	background-image: url(images/bg_01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width:100%;
}
#innerWrapper{
	background: none;

}
#topPadding{
	height: 14px;
}
#header{
	background: none;
	height: 188px;
	overflow:hidden;
}
#innerHeader{
	padding: 68px 0px 0px;
	margin-left: 0px;
}

/** **/

#mainWrapper{
	border: none;
	background: none;
	background-image: url(images/bg2_26.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
#innerMainWrapper{
	background: none;
border:none;
	background-image: url(images/bg2_29.jpg);
	background-repeat: repeat-y;
	background-position: right;
	
}
#modContainer{
padding-top: 0px;
	
}
/****** Header Elements Styles ******/
#blogTitle, #blogTitle a, #blogTitle input{
	color: #990000;
	padding-left: 69px;
}
#blogUrl a{
	color: #333333;
}
#blogDesc{
	color: #000000;
	padding-top: 10px;
	padding-left:140px;
}
#navBar{
	background: none;
	border: none;

}
#innerNavBar{
background: none;
}

#mainNav{
background: none;
height:33px;
overflow:hidden;
}
/****** NavBar Elements Styles ******/
#navBar a{
color:#fff;
}
#navBar {
	padding-left: 40px;	
	padding-right: 40px;
}
#innerNavBar{padding-top: 3px; overflow:hidden; }
* html #innerNavBar{padding-top: 0px;}

/**ÐÞ¸ÄmainNav*/
#mainNav li{
	background: #864912;
	border:1px solid #BC9047;

	cursor: pointer;
	margin: 4px 2px 0px 0px;
	padding: 2px 8px 3px;
	display: block;
	left: 0px;
	top: 0px;
}
#mainNav li.active{
	background:#F0EADC;
	border-top:2px solid #C00;
	border-bottom:none;
	margin: 2px 2px 0px 0px;
	padding: 3px 8px 4px;
	cursor: auto;
}
#mainNav li.active span{
color:#000;
}
#mainNav li span{
color:#fff;
}
#mainNav li.private span{
	color:#000;
}
#mainNav li.hover{
	border-color: red;
}
#mainNav li.private{
	background: #FFF6CC;
}

#mainNav li .pageTitle{
	white-space: nowrap;
	font-weight: bold;
	float: left;
	margin-top: 4px;
	cursor: pointer;
	color:#FFFFFF
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
.modCtnInfo-private {
	margin: 1px 14px;
}
#optionNav li{
	white-space:nowrap;
}

*html .modCtnInfo-private {
	margin: 0px 14px;
	position:relative;
}
#mainNav #newPageBtn{
	background: url(images/ico_addPage.gif) no-repeat center;
	float: left;
	margin: 11px 0px 0px 4px;
	padding: 0px 8px;
}
/****** Mod Elements Styles ******/
.mod{
	border: none;
	background-image: url(images/mod_13.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
.mod .modFrame{
	border: none;
	background-image: url(images/mod_14.jpg);
	background-repeat: repeat-y;
	background-position: right;
}
.mod .modTable{
background:none;
	border: none;
}
.Feeds-content ul{ margin:0px;padding-left:18px!important;}
#tooltip{
	border: 3px solid #eee;
	position: absolute;
	z-index: 2000;
	background: white;
}
#tooltip .mod{
background:none;
}
#tooltip .modFrame{
background:none;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

#tooltip .modFrame, #tooltip .modFrame div{
background:none;
	color: #333;
}
/***********/
.mod .t{
	height: 25px;
	padding: 0;
	border: none;
	background: none;
}
.mod .modHeader{
	margin-left: 0px;
	height: 21px;
	padding-top: 4px;
	padding-bottom: 0;
	padding-left: 0;
}
.mod .modEditCon{
	border-top: none;
	border-bottom: 1px solid #333333;
	background:none;
}
.mod .c{
		padding-left:0px;
	padding-right:0px;}
.mod .modCon{	padding-left:0px;
	padding-right:0px;
}
/***********/
.mod .modTitle, .mod .modTitle a{
	color: #000000;
	overflow: hidden;
}
.mod .modTitle a:hover{
	color: #003399;
}

/****** item box ******/
.item-title{
	padding: 10px 5px 8px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #333333;
	border-bottom-color: #333333;
}
.item-title h3, .item-title h3 a{
	color: #000000;
}
.item-body{
	padding-bottom: 20px;
}
.item-content{
	border-bottom: none;
}


/****** entries widget ******/
.entries-content .entriesAdd{
	margin-bottom: 10px;
}
.entries-content .entriesAdd a{
	color: #73c513;
}
/****** categories widget ******/
.categories-content li {
	line-height: 180%;
}
/****** latest_comments widget ******/
.latest_comments-content li {
	line-height: 180%;
}
/****** fresh_blogs widget ******/
.fresh_blogs-content .collect .collectIco {
	border: 1px solid #999999;
}
/****** links widget and custom links ******/
.links-content .link, .Custom_Links-content .link{
	border-bottom: 1px solid #999999;
}
.links-content .linksAdd, .Custom_Links-content .linksAdd{
	margin-bottom: 5px;
	border-bottom: 1px solid #999999;
}
/****** pp widget ******/
.pp-content .ppMng{
	margin-bottom: 5px;
	border-bottom: 1px solid #999999;
}
/****** profile widget ******/
.profile-content hr{
	border-top: 1px solid #999999;
}
.profile-content .profileMng{
	margin-bottom: 5px;
}
/****** stats widget ******/
.stats-content li {
	line-height: 180%;
}
.stats-content li span {
	color: #7e4f59;
}
/************** add new***************/
#footer{
	background-image: url(images/foot_27.jpg);
	background-repeat: no-repeat;
	background-position: left 0px;
}
#innerFooter{
	background-image: url(images/foot_28.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
}
#powered{	padding-top: 56px;}

.mod .lt{
	width:16px;
	height:28px;
		background-image: url(images/mod_04.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.mod .rt{
	width: 16px;
	height:28px;
	background-image: url(images/mod_08.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .lb{
	width:16px;
	height:19px;
	background-image: url(images/mod_16.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod .rb{
width:16px;
	height:19px;
	background-image: url(images/mod_20.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.mod .modHeader{
	overflow: hidden;
	border:none;
}
.mod .b{
	background-image: url(images/mod_18.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
.mod .c{
	padding-bottom: 10px;
}
mod.mbody{padding-bottom: 10px;}
.mod .t{
	background-image: url(images/mod_06.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
