/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/

body{
	background:#000 url(images/top.jpg) no-repeat center 30px;
}
div,table,ul,p{color:#96694B;}
a{
	color: #000000;
	text-decoration: underline;	
}
a:hover{
	/*
	color: red;
	text-decoration: underline;
	*/
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
background: url(images/foot.jpg) no-repeat center bottom;
}
#innerWrapper{
width:960px;
    background: none;	
}
#header{
	height:210px;
	margin:0px;
	padding:0px;
	background: none;
}
#innerHeader{
	margin:0px;
	padding:0px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:35px;
	padding-left:130px;
}
#blogTitle a, #blogTitle input{
	color: #000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover, #blogTitle input{
	color: #F60;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogUrl {
	padding-top:37px;

}
#blogUrl a:link{
	color: #000;
}
#blogUrl a:hover {
	color: #f60;
}
#blogDesc{
	color: #000;
	font-size: 14px;
	padding: 0px;
	padding-top:8px;
	margin-top:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 130px;
}
/****** NavBar Elements Styles ******/
#navBar{
	border:none;
	background:none;
}
#navBar li.indiOpt a{
	color: #FFF;
}
#navBar li.indiOptActive a{
	color: #FFF;
}
.navSysOpt:visited{color: #FFF;}
#navBar a{
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}
#innerNavBar{
	border:none;
	margin:0px;
	margin:0px;
}

/**ÐÞ¸ÄmainNav*/
#mainNav li{
	background: #D2A78A;
	border: 1px solid #FFF;
	cursor: pointer;
	margin: 4px 2px 0px 0px;
	padding: 3px 8px 3px;
	display: block;
	left: 0px;
	top: 0px;
}

#mainNav li.active{
	background: #F4F2F3;
	border-top-width: 2px;
	border-top-color: #D2A78A;
	border-bottom: none;
	margin: 2px 2px 0px 0px;
	padding: 4px 8px 6px;
	cursor: auto;
}
#mainNav li.private{
	background: #FFF6CD;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#D2A78A;
}

#mainNav li .pageTitle{
	color:#333;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
#modContainerInfo {
	margin: -8px 19px 5px;
	position:relative;
}
/** **/


#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:50px 0px 0px;
	background: url(images/mainWrapper.jpg) repeat-y center top;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}
/****** Mod Elements Styles ******/
.mod{
	border:none;

}

.mod .modFrame{
	border: none;

}
.mod .modTable{


	margin:0px;
	padding:0px;
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 9px;
	height:30px;
	border: none;
	background: url(images/mod_lt.jpg) no-repeat left top;
}
.mod .t{
	border: none;
	background: url(images/mod_t.jpg) repeat-x left top;
	padding: 2px 6px 0px 5px;
}
.mod .modHeader{
	padding-top: 4px;
	margin-bottom: 2px;
}
.mod .rt{
	width: 9px;
	background: url(images/mod_rt.jpg) no-repeat right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background: url(images/mod_c.jpg) repeat-y center top;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
	width: 9px;
	background: url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
	background: url(images/mod_c.jpg) repeat-y left top;
	padding: 0px 5px;
	margin: 0px;
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	width: 9px;
	background: url(images/mod_r.jpg) repeat-y right top;
}

.mod .mfooter{
	
}
.mod .lb{
	width: 9px;
	height: 28px;
	background: url(images/mod_lb.jpg) no-repeat left bottom;
}
.mod .b{
	background: url(images/mod_b.jpg) repeat-x left bottom;
}
.mod .rb{
	width: 9px;
	background: url(images/mod_rb.jpg) no-repeat right bottom;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
    color: #000;
}
.mod .modEdit a{
	color: #000;
	text-decoration: underline;
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}

/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px solid #E2CAB8;
}
.item-title h3{
	color: #000000;
}
.item-title h3, .item-title h3 a{color: #000000;}
.item-label{}
.item-label a{color: #333;}
.item-label a:hover{color: #F60;}

.item-info a:hover{color: #F60;}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color:#333;
	border-bottom: 1px solid #E2CAB8;
}
.item-content a{
	color:#71BE5F;
}
.item-info, .item-info a{
	color:#71BE5F;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/

#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.item-more{
	font-weight: bold;
   text-align: right;
	color: #000000;
}

.item-more a{
	font-weight: bold;
	color: #000000;
}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #14820B;
}
#footer{
	clear: both;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 65px 15px 5px 22px;
}
#contact {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #FFF;
}
#contact a:hover{
   color: #F60;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
/*Ìí¼ÓÐÞ¸Ä*/

#navBar a:hover{
	color: #F60;
	font-size: 12px;
	text-decoration: none;
}

.mod .modTitle a:hover{
    color: #F60;
}

.mod .modEdit a:hover{
    color: #F60;
}

.item-content a:hover{
    color: #F60;
}