/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/

body{background: #010101 url(images/top.jpg) no-repeat center 30px; }
div,table,ul,p{color:#BFB295;}
a{color: #B3B326;text-decoration: underline;}
a:hover{
	color: #FF0000;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
	background:none;
}
#innerWrapper{
    background:none;
	width:960px;	
}
#header{
background: none;
	height:267px;
	margin:0px;
	padding:0px;
	
}
#innerHeader{
	margin:0px;
	padding:0px;
}

/****** Header Elements Styles ******/
#blogTitle{
	padding-top:114px;
	padding-left:150px;
}
#blogTitle a, #blogTitle input{
	color: #000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover, #blogTitle input{
	color: #F30;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogUrl {padding-top:116px;}
#blogUrl a:link,#blogUrl a:visited{
	color: #264007;
}
#blogUrl a:hover {
	color: #F30 !important;
}
#blogDesc{
	color: #A0470E;
	font-size: 14px;
	padding: 6px 0px 0px;
	margin: 5px 0px 0px 150px;
}
/****** NavBar Elements Styles ******/

#navBar{
	border:none;
	padding:0px;
	background:none;
}
#navBar li.indiOpt{
	background:none;
	border:none;
	padding-right: 0px;
}
#navBar li.indiOptActive{
    padding-top: 6px;

}

#navBar a{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
	color: #ff0000;
	font-size: 12px;
	text-decoration: none;
}
#innerNavBar{
	border:none;
	margin:0px;
	padding: 0px 24px 0px 24px;
}
#optionNav li a{
color: #fff;
	white-space:nowrap;
}
#optionNav li a:hover{
color: #ff0000;
	white-space:nowrap;
}
/**޸mainNav*/
#mainNav li{
	background: url(images/ioc_2.jpg) repeat-x left bottom;
	border: 1px solid #9E9579;
	border-bottom:none;
	cursor: pointer;
	margin: 5px 2px 0px 0px;
	padding: 3px 8px 1px;
	display: block;
	left: 0px;
	top: 0px;
}

#mainNav li.active{
	background: url(images/ioc_1.jpg) repeat-x left bottom;
	margin: 5px 2px 0px 0px;
	padding: 4px 8px 1px;
	cursor: auto;
	border: 1px solid #9E9579;
	border-bottom:none;
}
#mainNav li.private{
	background: #FFF6CC;
}

#mainNav li.hover{
	border-color: red;
}
#mainNav li.active span{
 color:#FFEE07;
}

#mainNav li .pageTitle{
	color:#FFFFFF;
}

#mainNav li .pageTitleHover{
	background:none;
}
#modContainerInfo {
	margin: 0px 19px 5px;
	position:relative;
}
#mainNav .private .pageTitle { color:#000;}
.modCtnInfo-private{
	margin:-12px 14px 0px 14px;
	background: #FFF6CC;
	color:#000;
	border-bottom: 1px solid #9E9579;	
}

/** **/
#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:10px auto auto;
	background: none;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px;
}
#modContainer {padding-top:0px;margin-top:0px;}
#mainNav #newPageBtn{
	background: url(images/ico_addPage.gif) no-repeat center;
	float: left;
	margin: 11px 0px 0px 4px;
	padding: 0px 8px;
}
/****** Mod Elements Styles ******/
.mod{
	border:1px solid #C5BA97;
	background: none;
}
.mod .modFrame{
	border: none;
background: none;
}
.mod .modTable{
background: none;
	margin:0px;
	padding:0px;
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;
	}
.mod .lt{
    width:4px;
	height:47px;
	background: url(images/mod_lt.jpg) no-repeat left top;
}
.mod .t{
	background: url(images/mod_t.jpg) repeat-x left top;
	padding: 0px 6px 0px 5px;
}
.mod .modHeader{
	padding-top: 4px;
}
.mod .rt{
    width:4px;
	background: url(images/mod_rt.jpg) no-repeat right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:#292213;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
	width:4px;
	background: url(images/mod_l.jpg) repeat-y left top;
}
.mod .c{
background:#292213;
padding: 4px;	
}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	width:4px;
	background: url(images/mod_r.jpg) repeat-y right top;
}

.mod .mfooter{
	
}
.mod .lb{
	width:4px;
	height: 17px;
	background: url(images/mod_lb.jpg) no-repeat left bottom;
}
.mod .b{
	background: url(images/mod_b.jpg) repeat-x left bottom;
}
.mod .rb{
    width:4px;
	background: url(images/mod_rb.jpg) no-repeat right bottom;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #F7DEA9;
}
.mod .modTitle a:hover{
    color: #ff0000;
}

.mod .modEdit a{
	color: #F7DEA9;
	text-decoration: underline;
}
.mod .modEdit a:hover{
    color: #ff0000;
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px solid #615233;
}

.item-title h3, .item-title h3 a{color: #64B632;}
.item-title h3 a:hover{color: #ff0000;}
.item-label{}
.item-label a{color: #64B632;}
.item-label a:hover{color: #ff0000;}

.item-info a:hover{color: #ff0000;}

.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	color: #BFB295;
	border-bottom: 1px solid #615233;
}
.item-content a{
	color: #EFEF00;
}
.item-content a:hover{
    color: #ff0000;}
.item-info, .item-info a{
	color: #D0611A;
}
.item-info a:hover{
	color: #ff0000;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/
#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }

.item-more{
	font-weight: bold;
   text-align: right;
	color: #BFB295;
}

.item-more a{
	font-weight: bold;
	color: #BFB295;
}
.item-more a:hover{ color: #f00}
#footer{
	clear: both;
	height: 120px;
	background: url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 40px 15px 0px 22px;
}
#contact {
	color: #BFB295;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #BFB295;
}
#contact a:hover{
   color: #ff0000;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #BFB295;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

.modCtnInfo-noMod {color: #FFF;}
.Feeds-content li a {color:#BFB295;}
.Feeds-content li a:hover {color:#ff0000;}
.texta:link {text-decoration: none;}
.texta:hover{text-decoration: none;}
.referItem a{text-decoration: none;}
.referItem a:hover{text-decoration: none;}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #FFA200;
}
.entries-content .entriesAdd a:hover{
	font-weight: bold;
	color: #FF0000;
}
/*»*/
.profile-content hr{
	margin: 5px 0px !important;
	margin: -5px 0px;
	height: 1px;
	border: none;
	border-top: 1px solid #615233;
	clear:both;
}
.profile-content .profileMng{
	text-align: right;
	border-bottom: 1px solid #615233;
	margin-bottom: 3px;
}
.messages-content .msg{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #615233;
	clear: both;
}
.links-content .link, .Custom_Links-content .link{
	padding-top: 2px;
	margin-bottom: 3px;
	border-bottom: 1px solid #615233;
	clear: both;
}
.links-content .linksAdd, .Custom_Links-content .linksAdd{
	text-align: right;
	border-bottom: 1px solid #615233;
	padding-bottom: 2px;
	margin-bottom: 3px;
}

*+html #mainNav span { float:left;}