.pp_favs-content .collect {
	margin: 5px;
	float: left;
	overflow: hidden;
	width: 90px;
}
.pp_favs-content .collect .collectIco {
	width: 85px;
	height: 85px;
	background: url(ppsetIco_bg.gif);
	overflow: hidden;
	display: block;
}
.pp_favs-content .collect img {
	height: 75px;
	max-height: 75px;
	max-width: 75px;
	margin: 3px 0 0 3px;
}
.pp_favs-content .collect span {
	display: block;
	text-align: center;
	margin-top: 2px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}
.pp_favs-content .more{
	text-align: right;
	clear:both;
}