/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
body{
		background:url(images/wrapper.jpg) repeat;
}
div,table,ul,p{color:#7C7C7C;}
a{
    color: #666;
	text-decoration: underline;	
}
a:hover{
    color: #f60;
	text-decoration: underline;
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
		background:none;
}
#innerWrapper{
	width: 958px;
	margin:0 auto;
	background:none;
	padding:0;
}
#header{
	height:243px;
	margin:0px;
	padding:0px;
	background:url(images/top.jpg) no-repeat center top;
}
#innerHeader{
	margin:0px;
	padding:70px 0px 0px 0px;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:4px;
	padding-left:65px;
	padding-bottom: 2px;
	display:block;
	clear:both;
	float:none;
}
#blogTitle a, #blogTitle input{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogTitle a:hover, #blogTitle input a:hover{
	color: #f60;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	padding-top:38px;
}
#blogUrl {
	padding:2px 0 8px;
	display:block;
	float:none;
	margin-left:42px;
	font-size: 12px;
	color: #FFF
	
}
#blogUrl a{
	padding:2px 0 8px;
	margin-left: 22px;
	font-size: 12px;
	color: #FFF
}
#blogUrl a:link,#blogUrl a:visited{
	color: #FFF;
}
#blogUrl a:hover {
	color: #f60;
}
#blogDesc{
	color:#FFF;
	font-size: 14px;
	padding: 0px;
	padding-top:4px;
	margin-top:0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 64px;
}
/****** NavBar Elements Styles ******/
#navBar{
	border:none;
	margin: 0px;
	padding-left: 20px;
	padding-right: 10px;
	height: 54px;
	background: url(images/navbar.jpg) no-repeat left top;
}
.navSysOpt:visited{color: #000;}
#navBar a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
#navBar a:hover{
	color: #F60;
	font-size: 12px;
	text-decoration: none;
}

#innerNavBar{
	border:none;
	margin-left:0px;
	padding-left:0px;
	padding-top: 0px;
}

/**ÐÞ¸ÄmainNav*/
#mainNav li{
	margin: 4px 2px 3px;
	padding: 2px 6px;
	cursor: auto;
	background:url(images/navbar_pp.jpg) repeat-x left top;
	border: 1px solid #C3C3C1;
}

#mainNav li.active{
	background:url(images/navbar_p.jpg) repeat-x left top;
	margin: 2px 2px 5px;
	padding: 2px 5px 4px;
	cursor: auto;
	border-width: 2px 1px 1px;
	border-color:#FEFEFE;
	border-bottom:none;
}
#mainNav li.private{
	background: url(images/navbar_ppp.jpg) repeat-x left top;
}

#mainNav li.hover{
	border-color:#f60;
}
#mainNav li.active span{
 color:#000;
}

#mainNav li .pageTitle{
	color:#fff;
}
#mainNav li .pageTitleHover{
	background-color: #ddd;
}
#mainNav #newPageBtn{
	float: left;
	margin: 10px 0px 0px 4px;
	padding: 0px 8px;
}
#modContainerInfo {
	margin: -8px 19px 5px;
	position:relative;
}
#mainNav .private .pageTitle{
	color:#000
}
/** **/


#neckWrapper{
background:none;
margin:0px;
}
#innerNeckWrapper{
background:none;
margin:0px;
}
#mainWrapper{
	border:none;
	padding:0px;
	margin:0px;
	background:url(images/mainwrapper.jpg) repeat-y center top;
}
#innerMainWrapper{
	border:none;
	padding:0px;
	margin:0px 0px 0px;
	
}
#modContainer {padding-top:0px;margin-top:0px;	border:none;
	padding:0px;
	margin:0px;}
/****** Mod Elements Styles ******/
.mod{
	background:url(images/left.jpg) no-repeat left top;
	border: none;
}
.mod .modFrame{
	border:none;
	background:url(images/right.jpg) no-repeat right top;
}
.mod .modTable{
	border:none;
	margin:0px;
	padding:0px;
	background:none;
}

/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 1px;
	height:38px;
	border: none;
	background:none;
}
.mod .t{
	border: none;
	background:none;
	padding: 0px 0px 0px 0px;

}
.mod .modHeader{
	padding-top: 0px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.mod .rt{
	width: 1px;
		background:none;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background:#fff;
	margin: 0px;
	padding: 0px;
}
.mod .modEditCon{
	background: none;border: none;

	}

.mod .mbody{
	background: none;
		border:none;
	
}

.mod .l{
	background:#ECECEC;
}
.mod .c{
	padding: 4px;
	background:#fff;
}
.mod .modCon{
overflow:hidden;
	border:none;
}
.mod .r{
	background:#ECECEC;
}

.mod .mfooter{
	
}
.mod .lb{height:1px;	background:#ECECEC;
}
.mod .b{
	height:1px;
	background:#ECECEC;
}
.mod .rb{
	height:1px;
	background:#ECECEC;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	color: #EA1613;
}
.mod .modEdit a{
	color: #EA1613;
	text-decoration: underline;
}
.mod .modTitle a:hover{
    color: #F60;
}

.mod .modEdit a:hover{
    color: #F60;
}
.modCtnInfo-noMod{color:#f00}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
#modContainerTable{
	width: 98%;
	margin-left: 9px;
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom: 1px dashed #ccc;
}
.item-title h3{
	color: #000000;
}
.item-title h3, .item-title h3 a{color: #EA1613;}
.item-title h3 a:hover{color: #f60;
}
.item-label{}
.item-label a{
	color: #C90000;
}
.item-label a:hover{color: #F60;}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}

.item-content a:hover{
    color: #F60;
}
.item-content {
	color:#7c7c7c;
	border-bottom: 1px dashed #ccc;
}
.item-content a{
	color:#3C3C3C;
}
.item-content a:hover{
	color:#f60;
}
.item-info, .item-info a{
	color:#C90000;
}
.item-info a:hover{
     color:#f60
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/

#tooltip{ border: 3px solid #eee; position: absolute; z-index: 2000; background: white; } 
#tooltip .modFrame{ padding: 5px; overflow: hidden; border: 1px solid #ccc; background: none;} 
#tooltip .modFrame, #tooltip .modFrame div{ color: #333; background: none; }
.item-more{
	font-weight: bold;
   text-align: right;
	color: #000000;
}

.item-more a{
	font-weight: bold;
	color: #000000;
}
.entries-content .entriesAdd a{
	font-weight: bold;
	color: #C90000;
}
#footer{
	clear: both;
	height: 166px;
	background:url(images/foot.jpg) no-repeat center top;
}
#innerFooter{
	text-align: center;
	border: none;
	padding: 72px 15px 0px 22px;
}
#contact{
	color: #fff;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #fff;
}
#contact a:hover{
   color: #F60;
}
#powered {
	padding-top: 0px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #fff;
	padding-top: 2px;
	padding-bottom: 6px;
	margin:0px;
}
.texta:link {color:#7c7c7c;}
.texta:hover{color:#f60}
.referItem a{color:#666}
.referItem a:hover{color:#f60}