.attStar-content {
	width:203px;
	margin:0 auto;
	color:#666;
}
	.attStar-content span, .attStar-content div, .attStar-content ul, .attStar-content p, .attStar-content table {
		color:#666;
	}
	.attStar-content a {
		color:#333;
	}
	.attStar-content a:hover {
		color:#f63;
	}
	.attStar-content .adBanner {
		background:url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/widget_olc2008_banner.gif) no-repeat;
		width:203px;
		height:46px;
		text-indent:-9999px;
	}
	.attStar-content .attStar_tp_bg {
		background:url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/widget_medal_tp_bg.gif) no-repeat;
		width:199px;
		height:6px;
		font-size:1px;
		margin:2px auto 0;
	}
	.attStar-content .attStar_bm_bg {
		background:url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/widget_medal_bm_bg.gif) no-repeat;
		width:199px;
		height:28px;
		margin:0 auto;
		text-align:center;
	}
	.attStar-content .attStar_bm_s_bg {
		background:url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/widget_medal_bm_s_bg.gif) no-repeat;
		width:199px;
		height:10px;
		margin:0 auto;
	}
		.attStar-content .attStar_bm_bg a {
			background:url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/btn_addmyblog_bg.gif) no-repeat;
			display:block;
			width:123px;
			height:28px;
			margin:0 auto;
			text-indent:-9999px;
		}
	.attStar-content h2 {
		font-size:16px;
		padding:0 0 5px;
		margin:0;
	}
		.attStar-content h2 a {
			text-decoration:none;
		}
	.attStar-content h3 {
		font-size:12px;
		padding:0 0 5px;
		margin:0;
		text-align:center;
		border-bottom:1px solid #ccc;
	}
	.attStar-content h4 {
		font-size:12px;
		padding:5px 0;
		margin:0;
	}
	.attStar-content span.red {
		color:red;
	}
	.attStar-content .rank {
		background:#f6ffc8 url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/widget_medal_bg.gif) repeat-x;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
		padding:5px 5px 0;
		width:187px;
		margin:0 auto;
	}
		.attStar-content .rank .starContent {
			margin:10px 0 0 0;
		}
			.attStar-content .starIcon, .attStar-content .teamIcon {
				float:left;
				margin:0 5px 0;
				height:84px;
			}
				.attStar-content .starIcon img {
					width:60px;
					height:80px;
					padding:1px;
					border:1px solid #ccc;
				}
				.attStar-content .teamIcon img {
					width:45px;
					height:45px;
					padding:1px;
					border:1px solid #ccc;
				}
				.attStar-content .starIcon a:hover img, .attStar-content .teamIcon a:hover img {
					border:1px solid #f63;
				}
			.attStar-content .starInfo {
				padding:5px 0 0 0;
			}
				.attStar-content .starInfo div {
					height:25px;
					line-height:25px;
				}
			.attStar-content .nearly div {
				padding:0 0 0 5px;
			}
			.attStar-content .artList {
				padding:5px 0 0;
				margin:5px 0 0;
				border-top:1px dotted #ccc;
			}
				.attStar-content .artList ul {
					margin:0;
					padding:0
				}
				.attStar-content .artList li {
					list-style:none;
					background:url(http://js1.pp.sohu.com.cn/ppp/blog/styles_ppp/images/arrowList.gif) no-repeat 0 2px;
					margin:2px 0;
					padding:0 0 0 15px;
					width:170px;
					overflow:hidden;
					white-space:nowrap;
					>text-overflow:ellipsis;
					-o-text-overflow:ellipsis;
					height:20px;
					line-height:20px;
				}
					.attStar-content .artList li a {
						text-decoration:none;
					}
				.attStar-content .artList p {
					padding:5px 0;
					margin:0;
				}
			.attStar-content a.btn_joinguess {
				display:block;
				background:#f6ffc8 url(http://js4.pp.sohu.com.cn/ppp/blog/styles_ppp/images/olympic/btn_widget_guess_bg.gif) repeat-x 0 0;
				border:1px solid #ffc869;
				height:26px;
				width:150px;
				line-height:26px;
				text-align:center;
				color:#fea600;
				font-weight:bold;
				text-decoration:none;
				overflow:hidden;
				margin:0 auto 10px;
			}
			.attStar-content a.btn_joinguess:hover {
				background-position:0 -26px
			}
			.attStar-content .btn_joinguess span {
				color:#fff;
				display:block;
				right:-1px;
				position:relative;
				top:-21px;
			}
			.attStar-content .joinguess {
				text-align:center;
				padding:10px 0 5px 0;
			}
			