/*
=== Sohu Blog PPP StyleSheet File ================================
	Style Name: pink
	Version: 1.0
	Author: Todd Lee (www.todd-lee.com)
	First Created: 2006-05-24
	Last Update: 2006-05-24
	Copyright: Sohu.com (www.sohu.com)
==============================================================
*/
/****** General Styles ******/
*{
	/*
	color: #333;
	*/
}
body{
	background: #6C5313 url(images/tp_01.jpg) repeat-y center;
}
div,table,ul,p{	color:#000000;}
a{
	/*
	color: #333;
	text-decoration: underline;
	*/
}
a:hover{
	/*
	color: red;
	text-decoration: underline;
	*/
}
textarea{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
select{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.text{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
input.button{
	/*
	background-color: white;
	border: 1px solid #ccc;
	*/
}
/****** Main Layout Styles ******/
#topPadding{
 display:none;}
#wrapper{
background: none;
}
#innerWrapper{
    background: none;	
}
#header{
	height:235px;
	margin:0px;
	padding:0px;
	background: url(images/header.jpg) no-repeat center top;
}
#innerHeader{
	margin:0px;
	padding:0px;
	background: none;
}
/****** Header Elements Styles ******/
#blogTitle{
	padding-top:33px;
	padding-left:70px;
}
#blogTitle a, #blogTitle input{
	color: #000;	
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
	padding-top:80px;
}
#blogTitle a:hover {color: #FF0000;}
#blogUrl {
	padding-top:34px;

}
#blogUrl a{
	color: #FFF;

}
#blogUrl a:hover{
	color: #FF0000;

}
#blogDesc{
	color: #FFFFFF;
	font-size: 14px;
	padding: 0px;
	padding-top:8px;
	margin-top:5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 70px;
}
/****** NavBar Elements Styles ******/
#optionNav a { color:#FFF;} 
#optionNav a:hover { color:#F30;}
#optionNav li{
	white-space:nowrap;
}
#navBar a:link{
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}
#navBar{
	border:none;
	padding:0px;
	background-image: url(images/tp_05.jpg);
	background-repeat:no-repeat;
	background-position: left top;
	height: 48px;	
}
#innerNavBar{
	border:none;
	height: 48px;
	margin:0px;
	margin-left:0px;
	background-image: url(images/tp_06.jpg);
	background-position: right top;
	background-repeat: no-repeat;
}
#mainNav #newPageBtn{
	margin: 23px 0px 0px 4px;
	padding: 0px 8px;
}
#mainNav ul{
	margin: 17px 0px 0px 0px;
}
#optionNav li{
	margin-top: 29px !important;
}
#mainNav li{
	background:#C0AF77;
	border: 1px solid #7A5D21;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	cursor: pointer;
	margin: 2px 2px 0px 0px;
	padding: 3px 8px 4px;
}

#mainNav li.active{
	background:#fff;
	border-top: 2px solid #E22355;
border-bottom:none;
	margin: 1px 2px 0px 0px;
	padding: 3px 8px 5px;
	cursor: auto;
}
#mainNav li.private{
	background: #FFF6CC;
}
#mainNav #newPageBtn{
	margin: 28px 0px 0px 4px;
	padding: 0px 8px;
}
#modContainer {
	margin-top: 0px;
	padding-top: 0px;
}
#mainWrapper{
	border:none;
	background-image: url(images/tp_24.jpg);
	background-repeat: repeat-y;
	background-position: left top;	
	padding:0px;
	margin:0px;
}
#innerMainWrapper{
	border:none;
	background-image: url(images/tp_26.jpg);
	background-repeat: repeat-y;
	background-position: right top;	
	padding:0px;
	margin:0px;
}
/****** Mod Elements Styles ******/
.mod{
	border:none;

}
.mod .modFrame{
	border: none;

}
.mod .modTable{


	margin:0px;
	padding:0px;
}
.mod tbody{

}
/***********/
.mod .mheader{
	border: none;

	}
.mod .lt{
	width: 7px;
	height:50px;
	border: none;
	background-image: url(images/tp_08.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.mod .t{
	border: none;
	background-image: url(images/tp_09.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height:50px;
	padding-top:2px;
	padding-left:5px;
	padding-right:6px;
}
.mod .modHeader{
	padding-top: 4px;
}
.mod .rt{
	width: 5px;
	height:50px;
	background-image: url(images/tp_10.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.mod .mneck{		
    background: none;
	border: none;
	padding-left:25px;
	padding-right:16px;
			}
.mod .ec{
	background-color: #E4E0B3;}
.mod .modEditCon{
	background: none;
	border: none;
}

.mod .mbody{
	background: none;
	border: none;
	
}
.mod .l{
	background-image: url(images/tp_13.jpg);
	background-repeat: repeat-y;
	background-position: left top;	
	width: 9px;
}
.mod .c{
    background-image: url(images/tp_18.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left:8px;
	padding-right:16px;}
.mod .modCon{
overflow:hidden;
}
.mod .r{
	background-image: url(images/tp_15.jpg);
	background-repeat: repeat-y;
	background-position: right top;	
	width: 7px;
}

.mod .mfooter{
	
}
.mod .lb{
	width:7px;
	background-image: url(images/tp_20.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 8px;
}
.mod .b{
    height:8px;
	background-image: url(images/tp_21.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.mod .rb{
	width: 8px;
	background-image: url(images/tp_22.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 8px;
}
/***********/
.mod .modShow img, .mod .modHide img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_showMod.gif);
	*/
}
.mod .modHide img{
	/*background-image: url(images/ico_hideMod.gif);*/
}
.mod .modTitle, .mod .modTitle a{
	/*color: #333;*/
}
.mod .modEdit a{
	/*
	color: #333;
	text-decoration: underline;
	*/
}
.mod .modCls img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_cls.gif);
	*/
}
.mod .modRfs img{
	/*
	width: 16px;
	height: 16px;
	background-image: url(images/ico_rfs.gif);
	*/
}
/****** item box ******/
.item{}
.item-top{}
.item-bottom{}
.item hr{
	/*border-top: 1px solid #ccc;*/
}
.item-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #847A60;
}
.item-title h3{
	color: #000;
}
.item-title h3, .item-title h3 a{color: #000;}
.item-label{}
.item-label a{
	/*color: #006699;*/
}
.item-body{}
.item-body-hidden{}
.item-content{
	/*border-bottom: 1px solid #ccc;*/
}
.item-content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #847A60;
		color:#000;
}
.item-content a{
	
		color:#000;
}
.item-info, .item-info a{
	color: #000000;
}
/*#header{
	background-image: url(images/headerBg2.png);
	height: 120px;
}*/


.item-more{
	font-weight: bold;
   text-align: right;
	color: #97472C;
}

.item-more a{
	font-weight: bold;
	color: #97472C;
}
#footer{
	clear: both;
	background-image: url(images/tp_28.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 120px;
}
#innerFooter{
	text-align: center;
	background-image: url(images/tp_29.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	border: none;
	padding-top: 50px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 22px;
}
#contact {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#contact a{
	color: #FFF;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #FFF;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
