/*
=== Sohu Blog StyleSheet File ================================
	Style Name: default
	Version: 1.0
	Author: Todd Lee
	Last Update: 2005-10-31
==============================================================
*/


/****** Main Layout Styles ******/
#mainWrapper {
	width: 993px;
	background-image: url(images/18_2_03.jpg);
	background-repeat: repeat-y;
}
#navBar {
	height: 94px;
	background-image: url(images/18_2_02.jpg);
	background-repeat: no-repeat;
}
#footer {
	clear: both;
	background-image: url(images/18_2_05.jpg);
	background-repeat: no-repeat;
	height: 129px;
}