.music_act-content {
}

.music_act-content .albumname {
	text-align: left;
	margin-top: 5px;
	margin-left: 2px;
	font-weight: bold;
}

.music_act-content .image65 {
	height: 65px;
	width: 65px;
	overflow: hidden;
	margin:2px; 
	border:1px solid Gray;
	float: left;
}

.music_act-content .albums {
	height: 69px;
	overflow: hidden;
}

.music_act-content .more {
	float: right;
	margin-top: 10px;
}